$height: 29px;

.statistics-action {
  flex-wrap: wrap;
  margin-bottom: 20px;
  .action.el-col {
    .action-items {
      display: flex;
      justify-content: flex-start;
      .download-btn.el-col {
        max-width: 102px;
        button {
          padding: 0;
          height: 29px;
          background-color: #1D93CF;
          color: #FFFFFF;	
          font-size: 14px;
          font-weight: bold;	
          line-height: 16px;	
          text-align: center;
          border-radius: 0;
          width: 100%;
        }
      }
      .spacing.el-col {
        width: 20px;
      }
      .select-campaign.el-col {
        .el-select.statistics-dropdown {
          width: 100%;
          max-width: 350px;
          /deep/ input {
            height: 29px;
            border: 1px solid #DEE3E9;
            border-radius: 3px;
            padding-left: 10px;
            padding-right: 20px;
            color: #323A46;	
            font-size: 14px;
            line-height: 21px;
          }
          /deep/ .el-select__tags {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          /deep/ .el-input.el-input--medium.el-input--suffix {
            /deep/ .el-input__suffix {
              /deep/ .el-select__caret.el-input__icon.el-icon-arrow-up {
                line-height: 21px;
              }
            }
          }
        }
      }
    }
  }
  .select-action.el-col {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    .select-title.el-col {
      text-align: right;
      padding-right: 20px;
      color: #323A46;
      font-size: 14px;
      height: $height;
      line-height: 30px;
      span {
        min-width: 239px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .select-item.el-col {
      max-width: 200px;
      .el-select.select-item-value {
        width: 100%;
        /deep/ input {
          padding-left: 10px;
          padding-right: 20px;
          height: $height;
          color: #323A46;
          font-size: 14px;
          line-height: 16px;
          border: 1px solid #DEE3E9;	
          border-radius: 3px;
        }
        /deep/ i {
          width: 16px;
          line-height: 29px;
          color: #354052;
        }
      }
    }
  }
  
}

@media (min-width: 768px) {
  @media (max-width: 991px) {
    .statistics-action {
      margin-bottom: 10px;
      .action.el-col {
        .action-items {
          justify-content: space-between;
          margin-bottom: 10px;
          .download-btn.el-col {
            max-width: none;
          }
          .select-campaign.el-col {
            .el-select.statistics-dropdown {
              max-width: none;
            }
          }
        }
      }
      .select-action.el-col {
        justify-content: flex-start;
        margin-bottom: 10px;
        .select-title.el-col {
          text-align: left;
          margin-bottom: 10px;
          padding-right: 0px;
          height: 16px;
          line-height: normal;
        }
        .select-item.el-col {
          max-width: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .statistics-action {
    margin-bottom: 10px;
    .action.el-col {
      .action-items {
        justify-content: space-between;
        margin-bottom: 10px;
        .download-btn.el-col {
          max-width: none;
        }
        .select-campaign.el-col {
          .el-select.statistics-dropdown {
            max-width: none;
          }
        }
      }
    }
    .select-action.el-col {
      justify-content: flex-start;
      margin-bottom: 10px;
      .select-title.el-col {
        text-align: left;
        margin-bottom: 10px;
        padding-right: 0px;
        height: 16px;
        line-height: normal;
      }
      .select-item.el-col {
        max-width: none;
      }
    }
  }
}