.reporting-type {
    height: 36px;
    float: left;
    max-width: 170px;
    .el-cascader {
        width: 100%; 
        min-width: 150px;
        /deep/ .el-input {
            height: 36px;
            width: 100%;
            input {
                border-radius: 0;
            }
        }
    }
}

/deep/ .el-cascader-menus {
    background-color: red
}

@media(max-width: 680px) {
    .reporting-type {
        height: 36px;
        width: 49%;
        margin: 0px 0px 10px 0px;
        .el-cascader {
            width: 100%; 
            /deep/ .el-input {
                height: 36px;
                width: 100%;
                input {
                    border-radius: 0;
                }
            }
        }
    }
}

@media(max-width: 460px) {
    .reporting-type {
        height: 36px;
        width: 100%;
        margin: 0px 0px 10px 0px;
        .el-cascader {
            width: 100%; 
            min-width: 150px;
            /deep/ .el-input {
                height: 36px;
                width: 100%;
                input {
                    border-radius: 0;
                    text-align: center
                }
            }
            /deep/ .el-cascader__label {
                text-align: center
            }
        }
    }
    
}

