@import '@/styles/variables.scss';
.container-cp {
    padding: 0px 36px;
    h3.title{
        background: #fff;
        padding:  15px;
    }
    .input-title{
        font-weight: bold;
    }
    .step-content {
        background: #fff;
        min-height: 90px;
        position: relative;
        padding: 20px;
        border: 1px solid #E5E9EC;
        .line {
          height: 1px;
          background: #ccc;
          width: calc(100% - 40px);
          position: absolute;
          top: 45px;
          z-index: 1;
          div {
            height: 1px;
            background: $bluePrimary;
            transition: 1s;
          }
        }
        .step-list {
          position: absolute;
          z-index: 2;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          width: calc(100% - 40px);
          .step-item {
            background: #fff;
            padding-left: 10px;
            .icon {
              border-radius: 50%;
              text-align: center;
              height: 50px;
              width: 50px;
              border: 1px solid #d9d9d9;
              background-color: #fafbfc;
              float: left;
              padding: 0;
              span {
                line-height: 50px;
                font-weight: bold;
                font-size: 1.5em;
                color: #6d7681;
              }
            }
            .label {
              line-height: 50px;
              color: #6d7681;
              max-height: 50px;
              font-size: 16px;
              padding: 0 10px;
              overflow: hidden;
              text-overflow: ellipsis;
              margin: 0; 
            }
          }
          .step-item.active {
            .icon {
              background: $bluePrimary;
              border-color: $bluePrimary;
              span {
                color: #fff;
              }
            }
            .label {
              color: $bluePrimary;
              font-weight: bold;
            }
          }
        }
      }
    @media screen and (max-width: 860px) {
        .label-hide {
          .label {
            display: none;
          }
        }
      }
}


@media(max-width: 768px) {
  .container-cp {
      padding: 0px 16px;
     
  }
}