.statistics-action {
    flex-direction: row;
    display: flex;
    padding: 15px 0px 10px 0px;
    .el-button {
        margin: 0px;
        margin-left: 0px;
        padding: 4px 8px;
        float: left;
        height: 36px
    }
    .el-button.statistics-button-download {
        float: left;
        background-color: #1D93CF;
        color: white;
        padding: 5px 10px;
    }
    .campaign-action {
        background-color: #1D93CF;
        color: white;
        margin-right: 6px;
        padding: 5px 15px;
        border-radius: 0;
    }
    .right-content {
        width: 100%;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        .action-statistics-campaign {
            display: block;
            width: 100%;
            padding-right: 8px;
        }
        .margin-left-8 {
            margin-left: 8px;
        }
        .right-menu-item {
            float: right;
            margin-left: 8px
        }
    }
    .statistics-dropdown {
        float: right;
        margin-left: 8px;
    }
}

@media(max-width: 1330px) {
    .statistics-action {
        display: flex;
        padding: 15px 0px 10px 0px;
        .right-content {
            display: inline;
            .action-statistics-campagin {
                flex-direction: row;
                display: flex;
            }
            .margin-left-8 {
                margin-left: 8px;
            }
            .right-menu-item {
                float: right;
                margin-top: 10px;
            }
        }
        
    }
}

@media(max-width: 1000px) {
    .statistics-action {
        flex-direction: column;
        padding: 15px 0px 10px 0px;
        .right-content {
            display: inline;
            .action-statistics-campagin {
                margin-top: 10px;
                margin-left: 0px;
                flex-direction: row;
                display: flex;
            }
            .right-menu-item {
                margin-top: 10px;
            }
        }
    }
}

@media(max-width: 980px) {
    .statistics-action {
        flex-direction: column;
        padding: 15px 0px 10px 0px;
        .right-content {
            display: inline;
            .right-menu-item {
                margin-top: 0px;
            }
        }
    }
}

@media(max-width: 680px) {
    .statistics-action {
        flex-direction: column;
        width: 100%;
        padding: 15px 0px 10px 0px;
        .right-content {
            flex-direction: column;
            .action-statistics-campagin {
                width: 100%;
                margin-top: 10px;
                margin-left: 0px;
                flex-direction: column;
                display: block;
            }
            .margin-left-8:nth-child(3) {
                margin-left: 0px;
            }
            .right-menu-item {
                margin-top: 0px;
                width: 100%
            }
        }
    }
}

@media(max-width: 460px) {
    .statistics-action {
        flex-direction: column;
        width: 100%;
        padding: 15px 0px 10px 0px;
        .right-content {
            flex-direction: column;
            .action-statistics-campagin {
                width: 100%;
                margin-top: 10px;
                margin-left: 0px;
                flex-direction: column;
            }
            .margin-left-8 {
                margin-left: 0px;
            }
            .right-menu-item {
                margin-top: 0px;
            }
        }
    }
}