.product-feed {
  /deep/ .el-tabs__nav {
    z-index: 1;
  }
  padding: 0px 36px;
  .el-tabs.el-tabs--top.el-tabs--border-card {
    border: 1px solid #e5e9ec;
    background-color: #ffffff;
    box-shadow: unset;
    /deep/ .el-tabs__content {
      padding: 0 20px 20px 20px;
      @media (max-width: 767px) {
        padding: 0 10px 10px 10px;
      }
    }

    /deep/ .el-tabs__header.is-top {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      background-color: #ffffff;
      border-bottom: 1px solid #ced3d8;
      @media (max-width: 767px) {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        /deep/ .el-tabs__nav-wrap.is-top {
          padding: 0;
        }
        /deep/ .el-tabs__nav-prev,
        .el-tabs__nav-next {
          display: none;
        }
        /deep/ #tab-0,
        #tab-1 {
          width: 146px;
        }
      }

      /deep/ .el-tabs__item.is-top {
        margin: 0;
        width: 191px;
        padding: 0;
        text-align: center;
        height: 39px;
        color: #323a46;
        font-size: 14px;
        font-weight: bold;
        border: 1px solid #ced3d8;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        background-color: #f7f7f7;
        @media (max-width: 767px) {
          width: 117px;
          height: 50px;
          vertical-align: middle;
          line-height: 52px;
        }
      }
      /deep/ .el-tabs__item.is-top.is-active {
        margin: 0;
        border: 1px solid #ced3d8;
        border-bottom: 0;
        color: #1d93cf;
        border-radius: 3px;
        background-color: #ffffff;
      }

      /deep/ #tab-0 {
        margin-right: 10px;
        @media (max-width: 767px) {
          margin-right: 6px;
        }
      }
    }
  }
  // custom content tab feedsetting
  /deep/ .btnTop-product-feed {
    height: 29px;
    min-width: 163px;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #1d93cf;
    border-radius: 0;
    &:first-child {
      margin-right: 20px;
      background-color: #1d93cf;
      color: white;
      font-family: "Noto Sans Korean";
      .icon-add {
        margin-right: 7px;
      }
    }
    &:last-child {
      font-family: "Roboto";
      color: #1d93cf;
      position: relative;
      padding-left: 22px;
      .icon-add {
        position: absolute;
        left: 30px;
        top: 5px;
      }
    }
    @media screen and (max-width: 767px) {
      padding: 0;
      max-width: 145px;
      min-width: 135px;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  /deep/ .table-feed-setting {
    text-align: center;
    .el-table__body-wrapper {
      border: 1px solid #e5e9ec;
    }
    .el-table__header {
      margin-top: 21px;
      th {
        background-color: #e8ebee;
        color: #323a46;
        font-weight: bold;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .el-table__body {
      td {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
      }
    }
  }
  .el-tab-pane.feed-setting {
    width: 100%;
    padding: 20px;
    border: 1px solid #ced3d8;
    border-top: 0;
  }
}
@media (max-width: 767px) {
  .product-feed {
    padding: 0px 20px;
    .el-tab-pane.feed-setting {
      padding: 10px;
    }
  }
}
