.grid-content {
  background-color: Gainsboro;
  padding-bottom: 20px;
}
.action-table {
  margin: 20px;
}
.button-black {
  background-color: black;
  color: white;
}
.active {
  color: red;
}
.panThumb {
  z-index: 100;
  height: 70px!important;
  width: 70px!important;
  left: 0px;
  border: 5px solid #ffffff;
  background-color: #fff;
  margin: auto;
  box-shadow: none!important;
  /deep/ .pan-info {
    box-shadow: none!important;
  }
}
.el-table {
  padding-top: 25px;
}
.el-button-group {
  position: absolute;
  z-index: 1;
}