.create-ci-container {
  background-color: #eee;
  padding: 20px;
  min-height: calc(100vh - 84px);
  .create-ci-content {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
  }
}
.create-default-ci {
  padding: 10px;
  .default-ci-container {
    span {
      height: 16px;
      width: 144px;
      color: #323A46;
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
    }
    .file-info {
      padding: 10px 0;
      .ci-name {
        margin-bottom: 10px;
        /deep/ input {
          height: 29px;
          border: 1px solid #1D93CF;
          border-radius: 3px;
          background-color: #FFFFFF;
        }
      }
    }
    .advanced-options {
      .advanced-options-title {
        margin-bottom: 10px;
      }
      .advanced-options-content {
        .item-title {
          padding: 10px;
          color: #323A46;
          font-size: 14px;
          font-weight: bold;
          line-height: 16px;
        }
      }
    }
  }
}
.item-content {
  display: flex;
  align-items: center;
  .el-checkbox, .el-select {
    margin-right: 10px;
  }
  div /deep/ input {
    flex: 1;
    padding: 2px 10px;
    height: 29px;
    border: 1px solid #1D93CF;
    border-radius: 3px;
    background-color: #FFFFFF;
  }
}

.create-rolling-ci {
  padding: 10px;
  .rolling-ci-container {
    span {
      height: 16px;
      width: 144px;
      color: #323A46;
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
    }
    .file-info {
      padding: 10px 0;
      .ci-name {
        margin-bottom: 10px;
        /deep/ input {
          height: 29px;
          border: 1px solid #1D93CF;
          border-radius: 3px;
          background-color: #FFFFFF;
        }
      }
    }
    .description {
      margin-top: 20px;
      color: #323A46;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
  
.action-area {
  /deep/ .el-button {
    padding: 5px 5px;
    height: 29px;
    width: 64px;
    border: 1px solid #DEE3E9;
    border-radius: 3px;
  }
}