$color: #323A46;
$font-size: 14px;
$line-height: 21px;

/deep/.black-btn {
  background-color: black;
  color: white;
}
/deep/.el-input__inner {
  text-align: center;
}

.list-campaign {
  color: #323A46;
  font-size: 14px;
  line-height: 21px;
}

.el-select.dropdown-campaigns {
  /deep/ input {
    text-align: left;
    padding-right: 25px;
  }
  ::placeholder {
    color: $color;
    font-size: $font-size;
    line-height: $line-height;
  }
  
  :-ms-input-placeholder {
    color: $color;
    font-size: $font-size;
    line-height: $line-height;
  }
  
  ::-ms-input-placeholder {
    color: $color;
    font-size: $font-size;
    line-height: $line-height;
  }
}

