$dark_gray:#889aa4;
$line-box: 24px;

.mt-15vh {
  margin-top: 15vh;
}

.password-help {
  min-height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  &__form {
    padding: 10px 35px;
    border: 1px solid $dark_gray;
  }

  /deep/ .el-input__inner {
    border-radius: 0px;
  }
}

hr {
  position: relative;
  margin-top: -$line-box / 2;
  border-top: 1px solid $dark_gray;
}

.sub-title {
  width: fit-content;
  z-index: 1;
  background: #fff;
  position: relative;
}
