$dark_gray: #889aa4;
$line-box: 24px;

.mt-15vh {
  margin-top: 15vh;
}

.sent-acc {
  line-height: $line-box;
}

.password-help {
  width: 100%;
  background-color: #fff;
  overflow: hidden;

  .rsPwd-form {
    position: relative;
    max-width: 418px;
    margin: auto;
    overflow: hidden;
  }

  .logo-box {
    width: 100%;

    .logo-image {
      margin: auto;
      display: block;
    }
  }

  .text-validate /deep/ .el-form-item__error {
    position: relative;
  }

  .text-title {
    height: 16px;
    margin: 20px auto;

    .login-horizontal {
      box-sizing: border-box;
      width: 100%;
      left: 0;
      border: 1px solid #e6e6e6;
      margin: 7px auto;
      position: absolute;
      z-index: 1;
    }

    .signin-text {
      margin: auto;
      background-color: #ffffff;
      width: 160px;
      height: 16px;
      color: #323a46;
      font-size: 16px;
      font-weight: bold;
      line-height: 16px;
      z-index: 2;
      position: relative;
      text-align: center;
    }

    .or-text {
      margin: auto;
      background-color: #ffffff;
      width: 60px;
      height: 16px;
      color: #323a46;
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
      z-index: 2;
      position: relative;
      text-align: center;
    }
  }

  .input-email {
    margin: auto;
    margin-bottom: 20px;

    /deep/ input {
      border: 1px solid #dee3e9;
      border-radius: 3px;
      background-color: #ffffff;
    }

    &.reset-pw /deep/ button {
      width: 100%;
      background-color: #1d93cf;
      border: none;
      color: #ffffff;
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      border-radius: 0;
    }

    &.return-login /deep/ button {
      width: 100%;
      background-color: #ced3d9;
      border: none;
      color: #4b5054;
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      border-radius: 0;
    }
  }
}
