$color-white:#fff;
$dark_black:#909399;
$black:#000;
$dark_gray:#889aa4;
$light_gray:#eee;
$text_gray:#606266;
$btn-info: #909399;
$font-size-form: 14px;

.register-container {
  min-height: 100%;
  width: 100%;
  background-color: $color-white;
  overflow: hidden;

  .title-sub-title {
    hr {
      position: relative;
      margin-top: -20px;
      border-top: 1px solid $dark_gray;
    }
  }

  .register-form {
    position: relative;
    width: 520px;
    max-width: 100%;
    padding: 25px 35px 0;
    margin: 60px auto;
    overflow: hidden;
    border: 1px solid $dark_gray;
  }

  .title-sub-title,
  .title-container {
    position: relative;

    .sub-title,
    .title {
      color: $dark_black;
      text-align: center;
      font-weight: bold;
      margin: 0px auto 10px auto;
    }

    .title {
      font-size: 26px;
      color: $black;
      margin: 0px auto 20px auto;
    }

    .sub-title {
      width: 140px;
      z-index: 1;
      background: $color-white;
      position: relative;
    }

  }

  /deep/ .el-input input {
    border-radius: 0;
  }

  /deep/ .el-form-item {
    margin-bottom: 18px;

    .el-form-item {
      margin-bottom: 0px;
    }
  }

  .mt--10 {
    margin-top: -10px;
  }

  .mt--18 {
    margin-top: -18px;
  }

  .redirect-login {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    font-size: $font-size-form;
  }

  .login-tips {
    color: $text_gray;
    font-weight: 500;
    font-size: $font-size-form;
  }

  .business-type-tips {
    font-size: $font-size-form;
  }

  .upload-file {
    button {
      border-radius: 0px;
      color: $color-white;
      background-color: $btn-info;
      border-color: $btn-info;
    }
    .el-upload__tip {
      font-size: 12px;
      color: $text_gray;
      height: 16px;
      line-height: 16px;
    }
    input[type=file] {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      line-height: 30px;
      width: 100%;
    }
    
  }
  .term-danger {
    /deep/ .el-checkbox__inner {
      border-color: #dc3545;
    }
  }

  .msg-valid {
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;
  }
}