@import '@/styles/variables.scss';
.users-management {
  padding: 0 36px 50px 36px;
  .users-management-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #E5E9EC;
  }
}
.tab-controls {
  display: flex;
  border-bottom: 1px solid #CED3D8;
  &.hidden {
    display: none;
  }
  &.disabled {
    .tab-controls-item {
      cursor: not-allowed;
      background-color: #f5f7fa;
      border-color: #e4e7ed;
      color: #c0c4cc;
      &.active {
        color: #1D93CF;
      }
    }
  }
}
.tab-content {
  background-color: #fff;
  padding: 10px 10px 0px 10px;
  border: 1px solid #CED3D8;
  border-top: none;
  max-width: 100%;
  overflow: hidden;
  min-height: 50vh;
  &.hidden {
    display: none;
  } 
}

.edit-user-area {
  padding: 0 20px 20px 20px;
  background-color: #fff;
  margin-top: -20px;
  border: 1px solid #E5E9EC;
  border-top: 0;

}
.users-management.hidden {
  display: none;
}

.tab-controls-item {
  cursor: pointer;
  margin-right: 10px;
  padding: 11px 21px;
  border: 1px solid #CED3D8;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #FFF;
  align-items: center;
  text-align: center;
  display: flex;
  color: #323A46;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  justify-content: center;
  background-color: #F7F7F7;
  z-index: 1;
  word-break: break-all;
  &.slide-item {
    max-width: calc((100% - 100px) / 7);
    display: flex;
    flex: 1;
    justify-content: space-around;
  }
  &.active {
    border-bottom: none;
    background-color: #fff;
    color: #1D93CF;
  }
  &.arrow-control {
    background-color: transparent;
    border: none;
    max-width: 50px;
    min-width: 50px;
    color: #409EFF;
    &.disabled {
      color: #bbb;
    }
    span {
      margin-top: -7px;
    }
  }
}
.tab-controls-item.all-tab {
  margin-right: 10px;
  min-width: 10%;
  margin-bottom: -1px;
}
.tab-controls-item.invite-tab {
  margin-right: 0px;
  min-width: 10%;
  margin-bottom: -1px;
}
.tab-controls-group {
  margin-bottom: -1px;
  display: flex;
  flex: 1;
  overflow: hidden;
}
@media(max-width: 1366px) {
  .tab-controls-item {
    padding: 8px 16px;
  }
  .tab-controls-item {
    padding: 8px;
    &.slide-item {
      max-width: calc((100% - 100px) / 4);
      word-break: break-all;
    }
  }
}
@media(max-width: 1024px) {
  .tab-controls-item {
    padding: 8px;
    &.slide-item {
      max-width: calc((100% - 100px) / 2);
      word-break: break-all;
    }
  }
  .tab-controls-item.invite-tab {
    min-width: 80px;
    max-width: 80px;
  }
  .tab-controls-item.all-tab {
    min-width: 60px;
    max-width: 60px;
  }
}
@media(max-width: 768px) {
  .tab-controls-item {
    padding: 8px;
    margin-right: 0;
    &.slide-item {
      min-width: initial;
      max-width: none;
    }
    &.arrow-control {
      max-width: 50px;
      min-width: 50px;
    }
  }
  .users-management {
    padding: 0 20px 20px 20px;
    .users-management-content {
      padding: 0;
      border-top: none;
    }
  }
  .tab-content {
    padding: 10px;
    /deep/ .el-tabs__content {
      margin: 0 10px 0 10px;
      padding: 0;
    }
    /deep/ .el-tabs__header {
      margin: 0 1px 0 10px;
      padding: 0;
    }
  }
  .edit-user-area {
    padding: 0 10px 10px 10px;
    margin-top: 0px;
  }
}
@media(max-width: 320px) {
  .tab-controls-item.invite-tab {
    min-width: 60px;
    max-width: 60px;
  }
  .tab-controls-item.all-tab {
    min-width: 50px;
    max-width: 50px;
  }
}