@import '@/styles/variables.scss';
.searchInput{
    height: 35px;
    margin-bottom: 10px;
    min-width: 220px;
    /deep/ .el-input__inner{
      border-right-color: #F6F7F9
    }
}
.searchRow{
    padding: 20px 20px 10px 20px;
    background-color: white;
}
.iconSearch{
  cursor: pointer;
  width: 36px;
  height: 36px;
  border: 1px solid $grey;
  border-left-color: white;
  text-align: center;
  line-height: 45px;
}
.ml-r-10{
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
.campaign-status{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: aquamarine;
}
.campaign-status.active{
    background-color: aquamarine;
}
.campaign-status.deactive{
    background-color: red;
}
.action-table {
    margin: 20px;
  }
  .button-black {
    background-color: black;
    color: white;
  }
  .active {
    color: red;
  }
  .table{
      background-color:white;
      margin-top: 20px;
      padding: 20px;
  }
  .creative-container{
    background-color: #F6F7F9;
    padding: 10px 20px 0 20px;
  }
  .resetBtn {
    background-color: #1D93CF;
    border-color: #1D93CF;
    color: white;
    height: 36px;
    @media(max-width: 767px) {
      width: 100%;
    }
  }
  .resetCacheBtn {
    background-color: #1D93CF;
    border-color: #1D93CF;
    color: white;
    height: 36px;
    @media(max-width: 767px) {
      width: 90%;
    }
  }
  .btnResetCache{
    text-align: right;
  }
  .searchAction{
    justify-content: flex-end;
  }
  .selectItem{
    display: inline-block;
  }
  .btnCreate{
    width: 80%;
    @media(max-width: 767px) {
      width: 100%;
    }
    cursor: pointer;
    background-color: #1D93CF;
    height: 36px;
    border: none;
    border-radius: 3px;
    margin-right: 20px;
  }
  .btnDelete{
    width: 80%;
    @media(max-width: 767px) {
      width: 100%;
    }
    cursor: pointer;
    background-color: #F9FAFD;
    border: 1px solid #DEE3E9;
    height: 36px;
    border-radius: 3px;
    margin-right: 20px;
  }
  .iconActivate{
    height: 17px;
    width: 17px;
    position: relative;
    top: 3px
  }
  .btnText{
    height: 20px;
    color: white;
    font-size: 90%;
  }
  .btnTextDelete{
    height: 20px;
    color: #979FA7;
    font-size: 90%;
  }
  .rowAction{
    flex-direction: row;
    margin-bottom: 10px;
  }
  .selectRow{
    flex: 1;
    text-align: right;
    @media(max-width: 767px) {
      text-align: left;
    }
    margin-bottom: 10px;
    .selectTitle{
      flex: 1;
      color: #323A46;
      text-align: center;
    }
    .selectRowValue{
      flex: 1;
      @media(max-width: 768px) {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }
  .creative-table-list{
    /deep/ .el-table th{
      background-color: #E8EBEE;
    }
  }
  .mr-r-20{
    margin-right: 20px;
    width: 90%;
  }
  .mr-r-21{
    margin-right: 20px;
    width: 90%;
    @media(max-width: 767px) {
      width: 100%;
    }
  }
  /deep/ .el-table th>.cell{
    color: #323A46;
    font-weight: bold;
  }
  .pagination{
    text-align: center
  }
  .mr-bt-10{
    margin-bottom: 10px;
  }
  .pd-r-20{
    padding-right: 20px;
  }
  @media(max-width: 768px) {
   /deep/ .el-button--medium{
    padding: 5px 5px;
   }
  }
  .pd-r-5{
    padding-right: 5px;
  }
  .pd-l-5{
    padding-left: 5px;
  }