.searchInput{
    height: 35px;
    width: 350px;
    margin-left: 20px;
    margin-right: 10px;
}
.searchRow{
    flex-direction: row;
    display: flex;
    padding: 15px 0px 10px 0px;
}
.ml-r-10{
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
.campaign-status{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: aquamarine;
}
.campaign-status.active{
    background-color: aquamarine;
}
.campaign-status.deactive{
    background-color: red;
}
.action-table {
    margin: 20px;
  }
  .button-black {
    background-color: black;
    color: white;
  }
  .active {
    color: red;
  }
  .table{
      background-color:white;
      margin-top: 20px;
  }
  .creative-container{
    background-color: Gainsboro;
    padding-bottom: 20px;
    padding: 20px;
  }
  .filterAction{
    flex-direction: row;
    display: flex;
    justify-content: start;
    display: -webkit-box;
  }
  .searchAction{
    flex-direction: row;
    display: flex;
    display: -webkit-box;
    float: right;
  }
  .selectItem{
    display: inline-block;
  }
