.creative-link-container {
  padding: 20px;
  background-color: #adaaaa;
  color: #323A46;
  font-size: 14px;
  .campaign-info {
    padding: 10px;
  }
  .top-container {
    background-color: white;
  }
  .bottom-container {
    margin-top: 20px;
  }
}
/deep/.el-table {
	color: #323A46;
  font-size: 12px;
}
/deep/thead {
  color: #323A46;
  font-size: 13px;
  font-weight: 500;
}
.top-table /deep/ tr td {
  text-align: center;
}
.bgd-color {
  width: 65px;
  text-align: center;
}
.actions-bar {
  background-color: white;
  >.description {
    padding: 5px;
  }
}
.button-black {
  background-color: black;
  color: white;
}
.right-group-actions {
  float: right;
  padding-right: 10px;
  .search-filters {
    display: flex;
    float: right;
    padding-right: 10px;
  }
}

@media(max-width: 1000px) {
  .right-group-actions {
    .search-filters {
      display: flex;
      float: right;
      padding-right: 0;
    }
  }
}
