.creative-container{
    background-color: Gainsboro;
    padding-bottom: 20px;
    padding: 20px;
}
.update-content{
    background-color: white;
    margin: 20px;
    padding: 20px;
}
.creative-name{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
.creative-name-content{
    margin-top: 5px;
    margin-bottom: 5px;
}
.input-creative-name{
    width: 200px;
    height: 30px;
    text-align: center;
}

.motion-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.motion {
    margin-top: 5px;
    margin-bottom: 5px;
}

.full-width-column {
    width: 100%;
}

.url-left-align {
    margin-left: 20px;
}

.align-left {
    margin-left: 20px;
}

.align-bottom{
    margin-bottom: 10px;
}

.align-top {
    margin-top: 10px;
}

.motion-col-2 {
    margin-left: 20px;
}

.itnl-bg-col-2 {
    margin-left: 25px;
}

.itnl-bg-col-3 {
    margin-left: 25px;
}

.color-code {
    margin-left: 25px;
}

.diagonal {
    transform: rotate(135deg); 
    margin-top: 15px;
}

.title-font-size /deep/ input {
    text-align: center;
    width: 100%;
}

.bold-check {
    margin-top: 8px; 
    margin-left: 10px;
}

.horizontal {
    margin-top: 0.5px;
    margin-bottom: 0.5px;
}

.advanced-options {
    margin-top: 5px;
    margin-bottom: 5px;
}

.apply-all-change {
    margin-top: 5px;
    margin-bottom: 10px;
}

.background-img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.background-img-row-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.background-img-checkbox {
    margin-top: 8px;
}

.upload-background-image {
}

.upload-image-tip {
    margin-top: 5px;
    width: auto;
}

.promotion-img-options {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-btn {
    margin-left: 20px;
}