.tracking-tag {
    padding: 0px 36px;
    /deep/ .el-tabs {
        &__header {
            margin-bottom: 0;
        }
        &__item {
            &.is-active {
                color: #1D93CF;
                background-color: #fff;
            }
            margin-right: 10px;
            border: 1px solid #DEE3E9;
            border-radius: 3px 3px 0 0;
            background-color: #F7F7F7;
            color: #323A46;
            font-weight: bold;
        }
        &__nav {
            border: 0px;
            border-left: 1px solid #DEE3E9;
        }
        /deep/ .el-tabs__content {
            border: 1px solid #E5E9EC;
        }
    }
    &-content {
        padding: 21px;
        border: 1px solid #E5E9EC;
        background-color: #fff;
    }
}
@media(max-width: 768px) {
    .tracking-tag {
        padding: 0px 20px;
    }
}

.tracking-tag-content{
    padding: 15px;
    background-color: #fff;
    border: 1px solid #E5E9EC;
    /deep/ .el-tabs__header {
        margin-bottom: 0;
    }
    /deep/ .el-tabs__nav-wrap{
        .el-tabs__nav{
            border: none;
            .el-tabs__item {
                border-top: 1px solid #e4e7ed;
                border-left: 1px solid #e4e7ed;
                border-right: 1px solid #e4e7ed;
                margin-right: 10px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                background: #f7f7f7;
                font-weight: bold;
                &.is-active{
                    background: #fff
                }
            }
        }
    }
}