.collect-information {
  background-color: #fff;
  .collected-filter-selection {
    margin:  15px 0;
  }
  .collected-chart {
    margin-bottom: 15px;

  }
  .table-container{
    .el-table{
      /deep/ th {
        background: #E5E9EC;
        color: #000;
      }
      /deep/ th, /deep/ td {
        padding: 5px 0;
        border-left: 0;
        border-right: 0;
        a{
          color: #1D93CF;
          text-decoration: none;
        }
      }
    }
  }
  .button-download {
    border-radius: 0;
    margin-top: 10px;
    background: #1D93CF;
    color: #fff;
    font-weight: bold;
  }
}