$bg: #fff;
$dark_black: #909399;
$black: #000;
$dark_gray: #889aa4;
$light_gray: #eee;

.login-container {
  width: 100%;
  background-color: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: auto;

  .login-form {
    max-width: 418px;
    background-color: #fff;
    width: 50%;
    position: relative;
  }

  .logo-box {
    width: 100%;

    .logo-image {
      margin: auto;
      display: block;
    }
  }

  .text-validate /deep/ .el-form-item__error {
    position: relative;
  }

  .text-title {
    height: 16px;
    margin: 20px auto;

    .login-horizontal {
      box-sizing: border-box;
      width: 100%;
      left: 0;
      border: 1px solid #e6e6e6;
      margin: 7px auto;
      position: absolute;
      z-index: 1;
    }

    .signin-text {
      margin: auto;
      background-color: #ffffff;
      width: 100px;
      height: 16px;
      color: #323a46;
      font-size: 16px;
      font-weight: bold;
      line-height: 16px;
      z-index: 2;
      position: relative;
      text-align: center;
    }

    .or-text {
      margin: auto;
      background-color: #ffffff;
      width: 60px;
      height: 16px;
      color: #323a46;
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
      z-index: 2;
      position: relative;
      text-align: center;
    }
  }

  .form-item {
    margin: auto;

    /deep/ input {
      border: 1px solid #dee3e9;
      border-radius: 3px;
      background-color: #ffffff;
    }

    &.password /deep/ input {
      margin-top: 10px;
    }

    &.signin /deep/ button {
      width: 100%;
      background-color: #1d93cf;
      border: none;
      color: #ffffff;
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      border-radius: 0;
      margin-top: 20px;
    }

    &.register /deep/ button {
      width: 100%;
      background-color: #ced3d9;
      border: none;
      color: #4b5054;
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      border-radius: 0;
    }
  }

  .reset-pw-text {
    width: 100%;
    text-align: right;
    margin-top: 20px;

    .reset-pwd {
      color: #1d93cf;
      font-size: 14px;
      line-height: 16px;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
}

@supports (-webkit-mask: none) and (not (cater-color: $dark_gray)) {
  .login-container .el-input input {
    color: $dark_gray;

    &::first-line {
      color: $dark_gray;
    }
  }
}
