.creative-type-title {
  padding: 20px 20px 5px 20px;
  background-color: #fff;
}
.creative-type-list {
  display: flex;
  background-color: #fff;
  margin-bottom: 16px;
  .creative-type-item {
    cursor: pointer;
    flex: 1;
    align-self: stretch;
    float: left;
    max-width: 20%;
    padding: 20px;
    opacity: 0.5;
    &.selected{
      opacity: 1;
    }
    .icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #1D93CF;
      padding: 6px;
      position: absolute;
      top: 8px;
      right: 8px;
      .svg-icon {
        color: #fff;
        width: 16px;
        height: 16px;
      }
    }
    .icon.active {
      background: #1D93CF;
    }
    &:hover > .item-content, &.selected > .item-content {
      box-shadow: 0 3px 20px rgba(88, 87, 87, 0.25);
    }
    &.selected > .item-content > .item-circle-check::before {
      content: "\E639"
    }
  }
  .item-content {
    height: 100%;
    padding: 20px;
    border: 1px solid #dcdcdc;
    position: relative;
    .item-title {
      font-weight: bold;
      text-align: center;
    }
    .item-description {
      padding: 10px;
      font-size: 0.9em;
    }
  }
}
@media (max-width: 1200px) {
  .creative-type-container {
    .creative-type-list {
      .creative-type-item {
        padding: 10px;
        .item-content {
          padding: 10px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .creative-type-container {
    .creative-type-list {
      display: block;
      .creative-type-item {
        max-width: 100%;
      }
    }
  }
}
