.create-creative-container {
  background-color: #F6F7F9;
  padding: 20px;
  min-height: calc(100vh - 84px);
  .creative-type-list {
    display: flex;
  }
  .creative-type-detail {
    min-height: 40vh;
  }
  .action-area {
    text-align: center;
    margin-top: 20px;
    .btn-save {
      background-color: #3BAB93;
      border-color: #3BAB93;
    }
  }
}