.create-creative-container {
  background-color: #d0dce0;
  padding: 20px;
  min-height: calc(100vh - 84px);
  .creative-type-list {
    display: flex;
  }
  .creative-type-detail {
    min-height: 40vh;
    overflow: auto;
  }
  .action-area {
    margin-top: 20px;
  }
}