.detail-options {
  padding: 10px 0;
  .detail-options-title {
    margin-bottom: 10px;
  }
}

.detail-options-item {
  margin-bottom: 20px;
}

.item-title {
  color: #323A46;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}
.item-content {
  display: flex;
  padding-top: 10px;
  align-items: center;
  .el-checkbox, .el-select {
    margin-right: 10px;
  }
  div /deep/ input {
    flex: 1;
    padding: 2px 10px;
    height: 29px;
    border: 1px solid #1D93CF;
    border-radius: 3px;
    background-color: #FFFFFF;
  }
}
.expand-container {
  margin-top: 20px;
  border: none;
  .el-collapse-item {
    border: 1px solid #DEE3E9;
    margin-bottom: 10px;
    /deep/ .el-collapse-item__header {
      padding: 20px;
    }
    /deep/ .el-collapse-item__content {
      padding: 0px 20px;
    }
  }
  .el-collapse-item.is-active {
    /deep/ .el-collapse-item__header {
      background: #F3F5F7;
    }
    
    /deep/ .el-collapse-item__wrap {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
  }
}
/deep/ .el-collapse-item__wrap{
  padding-top: 20px;
}