$bg:#fff;
$dark_black:#909399;
$black:#000;
$dark_gray:#889aa4;
$light_gray:#eee;
$line-box: 24px;

.activation-container {
  min-height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
.activation-form {
  padding: 10px 35px;
  border: 1px solid $dark_gray;
}

hr {
  position: relative;
  margin-top: -$line-box / 2;
  border-top: 1px solid $dark_gray;
}

.sub-title {
  width: fit-content;
  z-index: 1;
  background: #fff;
  position: relative;
}
