.graph-filter {
    width: 100%;
    padding: 20px;
    margin: 2px 0px 17px 0px;
    min-height: 70px;
    border: 1px solid #E5E9EC;	
    background-color: #FFFFFF;
    flex-direction: row;
    .graph-filter-vs {
        padding-top: 8px;
        text-align: center;
        align-self: center;
        color: #323A46;
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
    }
}

@media(max-width: 1199px) {
    .graph-filter-vs-center {
        display: none
    }
}

@media(max-width: 768px) {
    .graph-filter {
        padding: 10px;
        .graph-filter-vs:nth-child(6) {
            margin-top: 14px;
        }
    }
}
