.desktop {
  .navbar {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
  }
}
.app-main {
  height: calc(100vh - 64px);
  height: -moz-calc(100vh - 64px);
  height: -webkit-calc(100vh - 64px);
  width: 100%;
  position: relative;
  background-color: $bgContent;

  .line-blue {
    background-color: $bluePrimary;
    height: $userInformationHight;
    .user-information-mobile {
      display: none
    }
  }

  .main-content {
    position: relative;
    top: -$userInformationHight;
    margin-bottom: 51px;
  }

  .statistical {
    display: table;
  }

  .page-information {
    padding: 42px 36px 0 36px;
    table {
      border-spacing: 0;
      td {
        padding: 0;
      }
      td:nth-child(2) .card-panel {
        margin: 0 -1px;
      }
    }
    .card-panel {
      height: 94px;
      cursor: pointer;
      font-size: 12px;
      position: relative;
      overflow: hidden;
      color: #666;
      background: #fff;
      display: flex;
      justify-content: flex-start;
      border: 1px solid #E5E9EC;
      &-icon {
        height: 30px;
        width: 30px;
        margin-top: 13px;
        &-wrapper {
          margin: 18px 20px 18px 18px;
          height: 57px;
          min-width: 57px;
          text-align: center;
          border-radius: 50px;
          background-color: $iconAction;
          border: 1px solid $borderIconAction;
          &.icon-korean-won {
            color: #F9C03B;
          }
          &.icon-contacts {
            color: #859826;
          }
          &.icon-bank {
            color: #3F8EB7;
          }
        }
      }
      &-description {
        padding: 27px 20px 27px 0;
      }
    }
    .card-panel-col {
      padding: 0 !important;
    }
    .page-title {
      padding: 10px 0;
      display: flex;
      flex-wrap: wrap;
      .title-text {
        color: #4B5054;
        font-size: 21px;
        font-weight: bold;
        line-height: 24px;
      }
      .breadcrumb {
        display: flex;
        line-height: 24px;
        flex: 1;
        flex-wrap: wrap;
        &-item:nth-child(1) {
          padding-left: 20px;
        }
        &-item {
          width: fit-content;
          padding-left: 10px;
        }
        &-icon {
          font-size: 20px;
          margin-top: 2px;
        }
        &-icon,
        &-text {
          color: #BBBCC0;
          &.active {
            color: #1D93CF;
            cursor: pointer;
          }
        }
        i {
          color: #BBBCC0;
        }
        .breadcrumb-item {
          padding: 0;
          min-width: fit-content;
        }
      }
    }
  }

  .footer {
    height: 51px;
    background-color: #FFFFFF;
    border-top: 1px solid #E5E9F1;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    color: #323A46;
    font-size: 14px;
  }

}

.desktop {
  .footer {
    width: calc(100% - #{$sideBarWidth});
  }
}

.el-message-box {
  width: 30% !important;
}