

.app-main {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: $bgContent;

  .line-blue {
    background-color: $bluePrimary;
    height: $userInformationHight;
  }

  .main-content {
    position: relative;
    top: -$userInformationHight;
  }

  .statistical {
    display: table;
  }

  .page-information {
    padding: 43px 20px 0 20px;
    table {
      border-spacing: 0;
      td {
        padding: 0;
      }
      td:nth-child(2) .card-panel {
        margin: 0 -1px;
      }
    }
    .card-panel {
      height: 94px;
      cursor: pointer;
      font-size: 12px;
      position: relative;
      overflow: hidden;
      color: #666;
      background: #fff;
      display: flex;
      justify-content: flex-start;
      border: 1px solid #E5E9EC;
      &-icon {
        height: 30px;
        width: 30px;
        margin-top: 13px;
        &-wrapper {
          margin: 18px 20px 18px 18px;
          height: 57px;
          min-width: 57px;
          text-align: center;
          border-radius: 50px;
          background-color: $iconAction;
          border: 1px solid $borderIconAction;
          &.icon-korean-won {
            color: #F9C03B;
          }
          &.icon-contacts {
            color: #859826;
          }
          &.icon-bank {
            color: #3F8EB7;
          }
        }
      }
      &-description {
        padding: 27px 20px 27px 0;
      }
    }
    .card-panel-col {
      padding: 0 !important;
    }
    .page-title {
      padding: 13px 0;
      display: flex;
      flex-wrap: wrap;
      .title-text {
        color: #4B5054;
        font-size: 21px;
        font-weight: bold;
        line-height: 24px;
      }
      .breadcrumb {
        display: flex;
        line-height: 24px;
        flex: 1;
        &-item:nth-child(1) {
          padding-left: 20px;
        }
        &-item {
          width: fit-content;
          padding-left: 10px;
        }
        &-icon {
          font-size: 20px;
          margin-top: 2px;
        }
        &-icon,
        &-text {
          color: #BBBCC0;
          &.active {
            color: #1D93CF;
            cursor: pointer;
          }
        }
        i {
          color: #BBBCC0;
        }
        .breadcrumb-item {
          padding: 0
        }
      }
    }
  }
}