@import "node_modules/bootstrap-utilities/bootstrap-utilities";

.h-form-input{
    padding-top: 15px;
    .h-title{
        margin-top: 10px;
        font-weight: bold;
        font-size: 14px;
        sup{
            color: red ;
            font-weight: bold;        
        }
    }
    input{
        width: 100%;
        border-radius: 0;
    }
    .h-pd-t-5 {
        padding-top: 5px;
    }
    .h-pd-b-5 {
        padding-bottom: 5px;
    }
    .h-pd-t-10 {
        padding-top: 10px;
    }
    .h-mg-t-5 {
        margin-top: 5px;
    }
    .h-mg-t-10 {
        margin-top: 10px;
    }
    
}

.transition-height {
    transition: height 0.2s;
}

.border-x-0 {
    border-left: 0 !important;
    border-right: 0 !important;
}
