@import "~@/styles/variables.scss";
.hamburger {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.hamburger.is-active {
  transform: rotate(180deg);
}
input#menu {
    display: none;
}

.icon {
    background: #FFF;
    cursor: pointer;
    display: block;
    height: 40px;
    padding: 25px;
    width: 40px;
}

label.icon {
    position: relative;
    z-index: 200;
    margin-top: 5px;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
    background: #1D93CF;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 20px;
}

.icon:hover .menu,
.icon:hover .menu::before,
.icon:hover .menu::after {
    background: $main-blue;
}

.icon .menu {
    left: 18px;
    top: 27px;
}

.icon .menu::before {
    top: -6px;
}

.icon .menu::after {
    top: 6px;
}

#menu:checked + .icon .menu {
    background: transparent;
}

#menu:checked + .icon .menu::before {
    transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
    transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
}

.navbar {
  width: 100%;
  padding-right: 37px;
  height: $headerHight;
  line-height: $headerHight;
  border-bottom: 1px solid $light_gray;

  

  .change-lang {
    cursor: pointer;
    .label-lang>div {
      display: flex;
      align-items: center;
    }
    .svg-icon {
      width: 2em;
      height: 2em;
    }
    span {
      font-size: 16px;
      padding: 0 0.5rem;
      color: $menuText;
    }
  }
}

.icon-action {
  margin: 10px;
  width: 44px;
  height: 44px;
  padding: 11px 12px;
  border-radius: 50px;
  background-color: $iconAction;
  border: 1px solid $borderIconAction;
  cursor: pointer;

  &:first-child {
    margin-left: 0px;
  }
  &:last-child {
    margin-right: 0px;
  }
  svg {
    color: $menuText;
    height: 20px !important;
    width: 20px !important;
    position: absolute;
  }

  &:hover {
    background-color: $borderIconAction;
  }

  .lang-select {
    position: absolute;
    height: 20px;
    width: 25px;
  }
}
