@media(max-width: 1366px) {
  .app-main{
    .el-dialog {
      width: 75%;
    }
    .page-information {
      .card-panel {
        height: 80px;
        .card-panel-icon-wrapper {
          height: 35px;
          min-width: 35px;
          margin: 15px;
          .card-panel-icon {
            height: 18px;
            width: 18px;
            margin-top: 7px
          }
        }
        .card-panel-description {
          padding: 15px 15px 15px 0;
        }
      }
    }
  }
}

@media(max-width: 1199px) {
  .app-main {
    .el-dialog {
      width: 70%;
    }
    .page-information {
      .card-panel-icon-wrapper {
        height: 30px;
        min-width: 30px;
        .card-panel-icon {
          height: 14px;
          width: 14px;
          margin-top: 6px
        }
      }
      .card-panel-description {
        .card-panel-sub-desc {
          display: inline-block;
        }
      }
    }
  }
  .el-select-dropdown__wrap {
    max-height: 240px !important;
  }
}

@media(max-width: 991px) {
  .el-dialog {
    width: 60%;
  }
  .el-dialog {
    width: 90%;
  }
  .el-tabs__item {
    padding: 0 10px;
  }
  .el-tabs__nav-wrap.is-scrollable {
    padding: 0 10px;
  }
  .el-tabs__nav-wrap.is-scrollable {
    padding: 0 10px;
  }
  .el-tabs--top.el-tabs--border-card .el-tabs__item:nth-child(2) {
    padding: 0 10px;
  }
  .page-information {
    .card-panel-icon-wrapper {
      height: 40px;
      min-width: 40px;
      .card-panel-icon {
        height: 20px;
        width: 20px;
        margin-top: 9px
      }
    }
    .card-panel-description {
      .card-panel-sub-desc {
        display: inline-block;
      }
    }
  }
  .el-select-dropdown__wrap {
    max-height: 200px !important;
  }
}


@media(max-width: 767px) {
  .app-main {
    .page-information {
      padding: 0px 20px 0 20px;
    }
    .line-blue {
      background-color: $bluePrimary;
      min-height: $userInformationHightMobile;
      .user-information-mobile {
        display: block
      }
    }
    .main-content {
      position: relative;
      top: 0;
      margin-bottom: 75px;
    }
    .statistical {
      display: none;
    }
  }
  .mobile {
    .introduction {
      display: none;
      visibility: hidden;
    }
    .auth-right-block {
      .auth-content {
        align-items: baseline !important;
        width: 100%;
        .login-container {
          display: block;
          form.login-form {
            margin: 0 auto;
            width: 90%;
          }
        }
        .register-container {
          form.register-form {
            margin: 0 auto 20px auto;
            width: 90%;
          }
        }
        .reset-password {
          width: 90%;
        }
      }
      .logo-box {
        display: none;
        visibility: hidden;
      }

    }
  }
  .register-form {
    margin: 0 auto 40px auto !important;
    .term-item {
      height: 30px;
    }
  }
  .el-message-box {
    width: 80% !important;
  }
  .el-dialog {
    height: 530px;
    margin-top: 10vh !important;
    width: 88%;
    .search-bar .search-container {
      display: block !important;
    }
    .search-bar-item {
      justify-content: space-between;
      margin-right: 0 !important;
      .el-input {
        width: 130px;
      }
    }
    .search-table {
      max-height: 165px !important;
    }
    .city-select-box .el-input__inner {
      height: 29px !important;
    }
  }
  .el-select-dropdown__wrap {
    max-height: 160px !important;
  }
}
