#app {

  // Main container
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
    height: calc(100vh - 64px);
    height: -moz-calc(100vh - 64px);
    height: -webkit-calc(100vh - 64px);
    top: $headerHight;
  }

  // Sidebar container
  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: $headerHight;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 3;

    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;

      .el-scrollbar__view {
        height: 100%;
      }
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 10px;
      font-size: 24px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      .title-router {
        font-weight: bold;
        font-size: 16px;
      }
      i {
        color: black;
        font-size: 14px;
        font-weight: bold;
        transform: rotate(270deg);
      }
      &:hover {
        background-color: $menuHover !important;
      }
    }
    .is-opened .el-submenu__title {
      font-weight: bold;
      font-size: 18px;
      i {
        color: black;
        font-size: 14px;
        font-weight: bold;
        transform: rotate(360deg);
      }
      &:hover {
        background-color: $menuHover !important;
      }
    }

    .is-active>.el-submenu__title {
      color: $subMenuActiveText !important;
    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;
      padding-left: 55px !important;
      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: $sideBarWidth !important;
    }

    .main-container {
      margin-left: $sideBarWidth;
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // Adapt to the mobile, Mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: 90% !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-100%, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // You can use $subMenuHover
      background-color: $menuHover !important;
    }
  }
}
.logo {
  min-width: $sideBarWidth - 10px;
  height: $headerHight;
  border-bottom: 1px solid $light_gray;
  background-image: url('../assets/images/logo@3x.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  cursor: pointer;
}
.user-information {
  width: 100%;
  overflow: hidden;
  min-height: $userInformationHight;
  background-color: $main-blue;
  padding-left: 21px !important;
  color: $base-white;
  font-size: 16px;
  line-height: 19px;
  /deep/ .user-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding-right: 18px;

  }
  .user-option {
    font-size: 14px;
    line-height: 16px;
    color: $base-white;
    cursor: pointer;
  }
}

.route-item {
  padding-bottom: 100px;
  height: calc(100% - #{$headerHight});
  height: -moz-calc(100% - #{$headerHight});
  height: -webkit-calc(100% - #{$headerHight});
  border-right: 1px solid $light_gray;
  background-color: $subMenuBg;

}


.is-opened ul {
  &:before {
    content: "";
    height: calc(100% - 7px);
    height: -moz-calc(100% - 7px);
    height: -webkit-calc(100% - 7px);
    background-color: $lineTree;
    width: 1px;
    margin-left: 32px;
    position: absolute;
    top: 0;
    margin-top: -15px;
    z-index: 2;
  }
}

.el-menu-item {
  &.is-active {
    color: $subMenuActiveText;
    
  }
}

@media(max-width: 767px) {
  #app {
    .sidebar-container {
      .user-information {
        display: none;
      }
      .route-item {
        padding-bottom: 100px;
        height: calc(100% - #{$headerHightMobile} );
        height: -moz-calc(100% - #{$headerHightMobile} );
        height: -webkit-calc(100% - #{$headerHightMobile});
        position: absolute;
        top: 0;
        width: 100%;
        .mobile-action-btn {
          padding: 0 20px;
          .icon-action {
            width: 44px;
            height: 44px;
            padding: 12px;
            svg.svg-icon {
              width: 18px !important;
              height: 18px !important;
            }
          }
        }
      }
    }
    .main-container {
      top: 0;
    }
    .user-information {
      width: 100%;
      height: $userInformationHightMobile;
    }
  }
}
// style for select account
  .el-submenu__icon-arrow{
    right: 20px;
  }
// end