// base color
$white: #ffffff;
$grey: #dcdfe6;
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

$bluePrimary : #1D93CF;
$bgContent: #F6F7F9;
$iconAction: #F6F7F9;
$borderIconAction: #E5E9EC;

//sidebar
$menuText:#4B5054;
$menuActiveText:#1D93CF;
$subMenuActiveText:#1D93CF;
$menuBg:#ffffff;
$menuHover:#ffffff;

$subMenuBg:#ffffff;
$subMenuHover:#ffffff;

$sideBarWidth: 260px;
$headerHight: 64px;
$userInformationHight: 75px;
$height-row: 36px;

$lineTree:#DEDEDE;

// Button
$colorBtn: #1D93CF;

// design color
$base-white: #ffffff;

$text-form: #323a45;
$bg-form: #f4f5f7;

$main-blue: #239EDC;
$dark-blue: #1D93CF;

$light_gray: #E5E9F1;

// the :export directive is the magic sauce for webpack
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  colorBtn: $colorBtn;
}
