@import '@/styles/variables.scss';
.marginTop20{
    margin-top: 20px;
}
.content-tracking{
    display: flex;
    flex-wrap: wrap;
    .title{
        color: #4B5054;	
        font-size: 15px;	
        font-weight: bold;	
        line-height: 35px;
        margin-right: 10px;
    }
    .label{
        font-size: 14;
        line-height: 21px;
        background-color: #DFECF4;
        color: #1D93CF;
        line-height: 35px;
        padding: 0 10px;
    }
    
}
@media screen and (max-width: 992px) {
  .content-tracking{
    .label{
        min-width: 400px;
    }
  }
}
.content-tracking.active{
    .label{
        background-color: #DFECF4;
        color: $bluePrimary;
    }
    
}
.group-btn {
    width: 100%;
    text-align: center;
    button {
      padding: 10px 25px;
      border: none;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
       margin: 5px 0;
    }
    .btn-next {
      background-color: $bluePrimary;
    }
    .btn-next:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
    .btn-imp {
      background-color: #3cab94;
      margin: 0 0 0 20px;
    }
    .btn-cancel {
      margin: 0 0 0 20px;
      background-color: #ced3d9;
      color: #4b5054;
    }
  }
@media screen and (max-width: 768px){
  .container-select{
    padding-bottom: 40px;
  }
  .targeting-type-content {
    display: none;
  }
  .group-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
  }
}
