.feed-setting-create {
  border-bottom: 1px #ced3d8 solid;
  padding: 0px 0px 20px 0px;
  .el-select {
    width: 100%;
  }
  .el-button {
    width: 100%;
    border-radius: 0px;
    background-color: black;
    color: white;
  }
  .hour-block {
    display: flex;
    border: 1px gray solid;
    margin-left: 0px;
    margin-top: 0px;
    float: left;
  }
  .schedule-field {
    /deep/.el-form-item__label::after {
      content: "*";
      color: #f56c6c;
      margin-right: 4px;
    }
  }
  .regular-expression-item {
    /deep/.el-form-item__label::after {
      content: "*";
      color: #f56c6c;
      margin-right: 4px;
    }
  }
  .hour-item {
    height: 24px;
    width: 10px;
    background-color: #d4d4d4;
    margin: 0px;
    margin-right: 1px;
    &.active {
      background-color: #f2a679;
    }
    &.border-right {
      margin-right: 0px;
      border-right: 1px gray solid !important;
    }
  }
  .radio-button-group {
    display: flex;
    float: left;
    margin-top: 12px;
  }

  /deep/ .form-item-inline {
    .el-form-item__content {
      display: flex;
      flex-direction: column;
    }
    .regular-expression {
      display: flex;
    }
    .regular-expression-item {
      width: 300px;
    }
    .regular-expression:not(:nth-child(1)) {
      margin-top: 10px;
    }
  }

  .button-bottom {
    width: 300px;
    display: flex;
  }

  // style for create feed Setting
  //   style table
  .table-item {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #dee3e9;
    margin-bottom: 20px;

    .table-item__header {
      min-height: 52px;
      background-color: #f3f5f7;
      margin-bottom: 10px;
      h5 {
        font-size: 14px;
        font-weight: bold;
        color: #323a46;
        margin: 0;
        line-height: 52px;
        padding-left: 10px;
      }
    }
    //  content table
    /deep/ {
      .table-item__content {
        padding: 0 10px;
        .el-form-item--medium .el-form-item__label {
          text-align: left;
          font-size: 14px;
          color: #323a46;
          font-weight: bold;
        }

        .el-input__suffix {
          border-left: 1px solid #dee3e9;
          padding-left: 3px;
          /deep/ .el-select__caret.el-input__icon {
            color: #323a46;
          }
        }

        .table-item_btnCheck {
          .el-button {
            background-color: #1d93cf;
            height: 36px;
            padding: 0;
            margin-left: -1px;
          }
        }
        .form-item-inline .regular-expression-item {
          width: auto;
          .el-form-item__label {
            margin-left: 30px;
          }
        }
        .group_btnAction {
          .el-form-item {
            float: left;
          }
          .table-item__btnAction {
            background: none;
            width: auto;
            padding: 0;
            border: 0;
            margin-left: 5px;
            i {
              color: #1d93cf;
              border: 2px solid #1d93cf;
              width: 20px;
              height: 20px;
              border-radius: 30px;
              text-align: center;
              padding: 0;
              line-height: 18px;
              font-weight: bold;
            }
          }
        }
      }
    }

    // check hour schedue table 1
    .hour-block {
      width: 100%;
      border-right: 0;
      border-color: #1d93cf;
      .hour-item {
        width: 4.16666%;
        height: 29px;
        background: #fff;
        margin-right: 0;
        border-right: 1px solid #1d93cf;
        &.border-right {
          border-color: #1d93cf !important;
        }
        &.active {
          background-color: #1d93cf;
        }
      }
    }
    .list-hour-block {
      margin-top: 10px;
      div {
        line-height: 1.5;
        color: #323a46;
      }
    }
    // end
  }
  .table-item__specialSelect {
    padding-left: 25px;
  }
  .el-radio:first-child {
    position: relative;
    &:after {
      content: " / ";
      transform: rotateX(360deg);
      position: absolute;
      right: -18px;
      font-size: 20px;
      top: -1px;
      font-weight: bold;
    }
  }

  //   style buttom bottom
  .button-bottom {
    width: 205px;
    margin: 0 auto;
    button {
      width: 97px;
      height: 35px;
      text-align: center;
      padding: 0;
      font-weight: bold;
      &:first-child {
        background-color: #1d93cf;
        color: #fff;
      }
      &:last-child {
        background-color: #ced3d9;
        color: #4b5054;
      }
    }
  }
  //   end style table

  // Resposive 767px
  @media screen and (max-width: 767px) {
    //    create feedsetting
    .table-item {
      &:last-child {
        .table-item__header {
          h5 {
            line-height: 1;
          }
        }
      }
      /deep/ {
        .table-item__content {
          .el-form-item--medium .el-form-item__label {
            float: none;
            /deep/ .el-form-item__content {
              margin-left: 10px;
            }
          }
        }
      }

      /deep/ .el-form-item__content {
        margin-left: 0 !important;
      }

      /deep/ .el-form-item {
        margin-bottom: 0px;
        &:last-child {
          margin-bottom: 10px;
        }
      }
      //hour pick
      .hour-block {
        display: block;
        width: 58px;
        float: left;
        .hour-item {
          width: 100%;
          border-bottom: 1px solid #1d93cf;
        }
      }
      /deep/ .list-hour-block {
        float: left;
      }
      .hour-field {
        /deep/ .el-form-item__content {
          display: flex;
        }
      }
      //end

      //   last table
      .table-item__content {
        /deep/ {
          .form-item-inline .regular-expression {
            display: block;
            position: relative;
            .regular-expression-item {
              margin-right: 20px;
            }
            .group_btnAction {
              position: absolute;
              bottom: 0;
              right: 20px;
              max-height: 65px;
              display: flex;
            }
            .el-form-item__label {
              margin-left: 0;
            }
          }
        }
      }
      //end
    }
  }
  // end
}
