.statistics {
  .el-table.grid-data-table {
    /deep/ .el-table__header-wrapper {
      .el-table__header {
        thead {
          /deep/ th {
            background-color: #E8EBEE;
            height: 37px;
            padding-top: 0;
            padding-bottom: 0;
            color: #323A46;
            font-size: 14px;
            font-weight: bold;
            line-height: 16px;
          }
        }
      }
    }

    /deep/ .el-table__fixed {
      .el-table__fixed-header-wrapper {
        thead {
          /deep/ th {
            background-color: #E8EBEE;
            height: 37px;
            padding-top: 0;
            padding-bottom: 0;
            color: #323A46;
            font-size: 14px;
            font-weight: bold;
            line-height: 16px;
          }
        }
      }
      .el-table__fixed-body-wrapper {
        border-left: 1px solid #E5E9EC;
        border-right: 1px solid #E5E9EC;
        /deep/ td {
          border-bottom: 1px solid #E6E6E6;
          padding-top: 0;
          padding-bottom: 0;
          height: 45px;
          color: #323A46;
          font-size: 14px;
          line-height: 21px;
          .cell {
            line-height: 21px;
          }
          @media (max-width: 767px) {
            height: 43px;
          }
        }
        /deep/ tr:first-child {
          /deep/ td:first-child {
            color: #323A46;
            font-size: 14px;
            font-weight: bold;
            line-height: 21px;
          }
        }
        /deep/ tr {
          td:nth-child(2) {
            border-right: 2px solid #E5E9EC;
          }
        }
      }
    }

    /deep/ .el-table__body-wrapper {
      border-left: 1px solid #E5E9EC;
      border-right: 1px solid #E5E9EC;
      /deep/ td {
        border-bottom: 1px solid #E6E6E6;
        padding-top: 0;
        padding-bottom: 0;
        height: 45px;
        color: #323A46;
        font-size: 14px;
        line-height: 21px;
        .cell {
          line-height: 21px;
        }
        @media (max-width: 767px) {
          height: 43px;
        }
      }
      /deep/ tr:first-child {
        /deep/ td:first-child {
          color: #323A46;
          font-size: 14px;
          font-weight: bold;
          line-height: 21px;
        }
      }
      /deep/ tr {
        td:nth-child(2) {
          border-right: 2px solid #E5E9EC;
        }
      }
    }
  }
  .pagination-container {
    /deep/ button.btn-prev , /deep/ button.btn-next {
      font-size: 14px;	
      line-height: 16px;
      height: 36px;
      width: 75px;
      border: 1px solid #E5E9EC;	
      margin: 0;
      color: #323A46;
      background-color: #FFFFFF;
      border-radius: 0;
    }

    /deep/ button.btn-next {
      border-left: 0;
    }

    /deep/ button.btn-prev:disabled , /deep/ button.btn-next:disabled {
      color: #C0C4CC;
    }
  

    /deep/ ul.el-pager {
      li {
      color: #323A46;	
      font-size: 14px;	
      height: 36px;
      width: 34px;
      border: 1px solid #E5E9EC;	
      background-color: #FFFFFF;
      margin: 0;
      padding-top: 3px;
      font-weight: normal;
      border-left: 0;
      border-radius: 0;
      }

      li:not(.disabled).active {
        background-color: #E8F4FA;
        color: #1D93CF;
      }

      li.el-icon.btn-quickprev.el-icon-more, li.el-icon.btn-quicknext.el-icon-more {
        display: none;
      }
    }
  }
}
