.redStar {
  font-size: 14px;
  color: #ff0000;
}
.fixbanner-content {
  display: flex;
  .creative-name-info {
    font-weight: bold;
    font-size: 14px;
    color: #323a46;
    /deep/ .el-form-item__label {
      text-align: left;
    }
    .el-input {
      width: auto;
    }
  }
  margin-bottom: 25px;
  input.file-upload-name {
    font-size: 12px;
    width: 250px;
    padding: 5px 8px;
  }
  .fixed-banner-left {
    border: 1px solid #E5E9EC;
    flex: 1;
    line-height: 28px;
    padding: 15px 20px;
    margin-right: 8px;
    background-color: #fff;
    .el-collapse {
      border: none;
      .el-collapse-item {
        margin-bottom: 20px;
        .advanced-options-content {
            margin-bottom: 15px;
          .item-title {
            line-height: 36px;
            margin-top: 7px;
          }
          .item-content {
            display: flex;
            align-items: center;
            label {
              margin-right: 6px;
            }
            .el-form-item {
              flex: 1;
              margin: 0 0 0 5px;
            }
          }
        }
      }
    }
    .detail-options-content {
      .el-form-item {
        margin-bottom: 5px;
        /deep/ .el-input {
          margin-left: 6px;
          width: calc(100% - 30px);
        }
        .item-title{
          margin-top: 7px;
        }
      }
    }
    /deep/ .el-collapse-item__header {
      font-weight: bold;
      background-color: #fff;
      padding: 0 15px;
      border-bottom: none;
      border: 1px solid #dee3e9;
      height: 52px;
      .el-collapse-item__arrow{
        transform: rotate(90deg);
        font-weight: bold
      }
      &.is-active {
        background-color: #f3f5f7;
        .el-collapse-item__arrow{
          transform: rotate(-90deg);
          color: #1D93CF;
        }
      }
    }
    /deep/ .el-collapse-item__wrap {
      padding: 0 15px;
      border-bottom: none;
      border: 1px solid #DEE3E9;
      border-top: 0;
      box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.1);
    }
    .animated-setting {
      width: 100%;
      overflow: auto;
      .animated-setting-col {
        padding: 0 10px;
      }
      .color-picker-area {
        display: flex;
      }
      .el-select {
        width: 100%;
      }
    }
    .detail-options,
    .advanced-options {
      padding: 0 10px;
      .item-content {
        display: flex;
        align-items: center;
        .el-checkbox,
        .el-select {
          margin-right: 10px;
        }
        input {
          flex: 1;
          height: 33px;
          padding: 2px 10px;
        }
      }
    }

    .input-name {
      width: 60%;
      /deep/ .el-input__inner {
        height: 29px;
      }
    }
    // color picker
    .color-picker {
      height: 29px;
      /deep/ .el-color-picker__trigger {
        height: 29px;
        padding: 0;
        width: 74px;
        .el-color-picker__color {
          width: 36px;
        }
        .el-color-picker__icon {
          color: #354052;
          display: inline-block;
          width: 100%;
          text-align: center;
          transform: none;
          top: 9px;
          left: 20px;
        }
      }
      /deep/ .el-color-picker__mask{
        width: 36px;
        height: 29px;
      }
    }
    // end
  }
  .fixed-banner-right {
    border: 1px solid #E5E9EC;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    margin-left: 8px;
    background-color: #fff;
    .upload-area {
      flex: 1;
      min-height: 300px;
      border: 1px solid #888;
      display: flex;
      flex-direction: row;
      align-items: center;
      .upload-area-content {
        width: 100%;
        text-align: center;
        #upload-file {
          display: none;
        }
      }
    }
    .description {
      margin-top: 20px;
      line-height: 25px;
    }
  }

  // style create banner 15-7
  .input-common {
    /deep/ .el-input__inner{
      border: 1px solid #dee3e9;
      height: 29px;
    }
  }
  .btn-common {
    border: 1px solid #dee3e9;
    min-width: 64px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0;
    height: 29px;
    padding: 0;
  }
  .fixedbanner-form {
    .group_btnAction {
      /deep/ .el-form-item__content {
        display: flex;
        margin-top: 4px;
      }
    }
    .row-item {
      margin-bottom: 20px;
      .el-form-item.el-form-item--medium {
        margin-bottom: 0px;
        .note-text,
        .upload-checkbox {
          color: #323a46;
          font-size: 14px;
        }
        .input-uploadImg {
          /deep/ .el-input__inner {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
        .btn-uploadImg {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          background-color: #1d93cf;
          font-size: 14px;
          font-weight: bold;
          color: #ffffff;
          border: 1px solid #dee3e9;
          height: 29px;
          padding: 0;
          min-width: 64px;
        }
        .btn-deleteImg {
          background-color: #f20808;
          .icon-remove {
            margin-right: 5px;
          }
        }
      }
    }
  }
  // end
}
.imported-images {
  .imported-image-item {
    padding: 20px;
    text-align: center;
    line-height: 26px;
    .image-area {
      border: 1px solid #888;
      height: 250px;
      display: flex;
      align-items: center;
      .image-area-content,
      img {
        width: 100%;
        max-height: 100%;
        text-align: center;
      }
    }
  }
}
@media (max-width: 768px) {
  .fixbanner-content {
    display: block;
    .fixed-banner-left,
    .fixed-banner-right {
      width: 100%;
    }
  }
}
