.fixbanner-content {
  display: flex;
  margin-bottom: 25px;
  input.file-upload-name {
    font-size: 12px;
    width: 250px;
    padding: 5px 8px;
  }
  .fixed-banner-left {
    flex: 1;
    line-height: 28px;
    padding: 15px 20px;
    margin-right: 8px;
    background-color: #fff;
    .el-collapse-item {
      border: 1px solid #eee;
      box-shadow: 0 1px 8px rgba(142, 142, 142, 0.25);
      margin-bottom: 20px;
      .detail-options-content, .advanced-options-content {
        .item-content {
          display: flex;
          align-items: center;
          label {
            margin-right: 10px;
          }
        }
      }
    }
    /deep/ .el-collapse-item__header {
      font-weight: bold;
      background-color: #eee;
      padding: 0 15px;
    }
    /deep/ .el-collapse-item__wrap {
      padding: 15px;
    }
    .animated-setting {
      width: 100%;
      overflow: auto;
      .animated-setting-col {
        padding: 0 10px;
      }
      .color-picker-area {
        display: flex;
      }
      .el-select {
        width: 100%;
      }
    }
    .detail-options, .advanced-options {
      padding: 0 10px;
      .item-content {
        display: flex;
        align-items: center;
        .el-checkbox, .el-select {
          margin-right: 10px;
        }
        input {
          flex: 1;
          height: 33px;
          padding: 2px 10px;
        }
      }
    }
  }
  .fixed-banner-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    margin-left: 8px;
    background-color: #fff;
    .upload-area {
      flex: 1;
      min-height: 300px;
      border: 1px solid #888;
      display: flex;
      flex-direction: row;
      align-items: center;
      .upload-area-content {
        width: 100%;
        text-align: center;
        #upload-file {
          display: none;
        }
      }
    }
    .description {
      margin-top: 20px;
      line-height: 25px;
    }
  }
}
.imported-images {
  .imported-image-item {
    padding: 20px;
    text-align: center;
    line-height: 26px;
    .image-area {
      border: 1px solid #888;
      height: 250px;
      display: flex;
      align-items: center;
      .image-area-content, img {
        width: 100%;
        max-height: 100%;
        text-align: center;
      }
    }
  }
}
@media(max-width: 768px) {
  .fixbanner-content {
    display: block;
    .fixed-banner-left, .fixed-banner-right {
      width: 100%;
    }
  }
}
