.graph-filter-child {
    height: 36px;
    width: 170px;
    margin: 15px 0px 15px 0px;
    flex-direction: row;
    display: flex;
    .el-select {
        flex-direction: row;
        display: flex;
        flex: 1;
        min-width: 120px;
        /deep/ .el-input {
            .el-input__inner {
                border-radius: 0;
                border: 1px solid black;
                border-left: none
            }
            .el-input__suffix {
                border-left: 1px solid black;
                padding-left: 4px
            }
        }
    }
    .graph-filter-child-background {
        height: 36px; padding: 10px 24px;
        border: 1px solid black
    } 
}

@media(max-width: 1200px) {
    .graph-filter-child {
        height: 36px;
        width: 100%;
        margin: 5px 0px 5px 0px
    }
}

@media(max-width: 840px) {
    .graph-filter-child {
        height: 36px;
        width: 45%;
        margin: 5px 0px 5px 0px;
        float: left
    }
}

@media(max-width: 440px) {
    .graph-filter-child {
        height: 36px;
        width: 100%;
        margin: 5px 0px 5px 0px;
        float: left
    }
}