@import "@/styles/variables.scss";
.container {
  .invite{
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #E5E9EC;
    padding: 20px;
    color: #323A46;
    font-size: 14px;
    line-height: 16px;
    /deep/ .el-input__suffix {
      border-left: 1px solid #DEE3E9;
      padding-left: 5px;
    }
  }
  .mr-l-20 {
    margin-left: 20px;
  }
  .label-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .item{
    margin-bottom: 20px;
    line-height: 30px;
  }
  .button-footer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px
  }
  .mr-top-10{
    margin-top: 10px;
  }
  .btn-send{
    background-color: #1d93cf;
    min-width: 100px;
    height: 35px;
    border-radius: 0px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    border: 1px solid #fff;
    &:hover {
      border-color: #1d93cf;
    }
  }
  .btn-cancel{
    margin-left: 0px;
    border-radius: 0px;
    height: 35px;
    min-width: 97px;
    background-color: #CED3D9;
    color: #4B5054;
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    border: 1px solid #fff;
    &:hover {
      border-color: #CED3D9;
    }
  }
  .only-selected{
    opacity: 1;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    border: 1px solid $grey;
    /deep/ td, /deep/ th {
      padding: 3px 0;
      border: none;
    }
  }
  .el-form-item {
    margin-bottom: 0;
  }
  .el-icon-loading {
    margin-left: 5px;
    font-size: 14px;
    line-height: 16px;
  }
}
.role-item-suffix {
  margin: 0;
  color: #323A46;
  &:last-child {
    color: #FF0000;
  }
}
.invite-content {
  padding-right: 10px!important;
}
.list-user-to-invite {
  padding-left: 10px!important;
}
.error-selected-client {
  color: #FF0000;
}
/deep/ .el-radio__label {
  line-height: 16px;
}
/deep/ .el-input__inner, .el-table, .el-radio, /deep/ .el-table thead {
  color: #323A46;
}
/deep/ .el-input__inner {
  height: 29px;
}
/deep/ .el-form-item__content {
  line-height: 16px;
}
/deep/ .el-input--medium .el-input__icon {
  line-height: 29px;
}
.el-select-dropdown__item {
  /deep/ span {
    margin-left: 0;
  }
}
@media(max-width: 1024px) {
  .invite-content {
    padding-right: 12.5px!important;
  }
  .list-user-to-invite {
    padding-left: 12.5px!important;
  }
}
@media(max-width: 768px) {
  .container {
    margin-top: 15px;
    .invite{
      margin-bottom: 10px;
      background-color: white;
      border: 0px solid #E5E9EC;
      padding: 0 10px 0 10px;
      /deep/ .el-input__suffix {
        border-left: 1px solid #DEE3E9;
        padding-left: 5px
      }
    }
    .item{
      margin-bottom: 5px;
      line-height: 30px;
    }
  }
}
    