/deep/ .el-table__body tr.hover-row>td {
  background-color: #fff;
}
/deep/ .el-table_1_column_3  {
  min-width: 200px;
}
/deep/ .el-table__row>td {
  border-top: 1px solid #ebeef5;
  border-bottom: none;
}
/deep/ .el-table__row[style]>td:first-child {
  border-top: none;
  border-bottom: none;
}
/deep/ .el-table__row[style]>.price-column {
  padding-left: 30px; 
}
/deep/ .status-area {
  float: left;
}
/deep/ .status-area .status {
  padding: 3px;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  left: 10px;
}
/deep/ .status-area li:hover .status-label {
  color: #1D93CF;
}
/deep/ .status-area li .status {
  top: 6px;
  left: 0;
}
/deep/ .status-area li .status-label {
  position: absolute;
  top: -3px;
  left: 10px;
  white-space: nowrap;
}
.status-area .creative-status {
  left: 38px;
  top: 19px;
}
.status-area .disabled {
  background-color: gray;
}
.status-area .standby {
  background-color:yellow;
}
.status-area .enabled {
  background-color:green;
}
.status-area .paused {
  background-color: red;
}
.list-status-area {
  position: absolute;
  z-index: 9;
}
.list-status {
  list-style: none;
  padding: 0 5px 2px 5px;
  margin: 0;
}
.list-status li {
  cursor: pointer;
  position: relative;
  width: 6px;
  height: 6px;
  margin-bottom: 12px;
  border-radius: 50%;
}
/deep/ .el-table__row[style]:last-child {
  border-bottom: 1px solid #ebeef5;
  text-align: right;
}
/deep/ .fixed-column {
  border-right: 4px double #ebeef5;
}
/deep/ .campaigns-parent-row {
  float: right;
}
/deep/ .status-area {
  padding-left: 10px;
  &:hover {
    .list-status-area {
      display: block;
    }
  }
}
/deep/ .small-expand-icon i {
  font-size: 1.1em;
  color: #888888;
}
/deep/ .small-expand-icon .el-collapse {
  position: absolute;
  top: 20px;
  .el-collapse-item__header {
    height: 15px;
  }
}
.creative-status /deep/ .small-expand-icon .el-collapse {
  top: 15px;
}
/deep/ .el-children-row:not(:last-child) td:first-child {
  padding-left: 20px;
}
.creative-status /deep/ .creative-size {
  margin-left: 15px;
  line-height: 26px;
}
@media(max-width: 768px) {
  /deep/ .fixed-column .fixed-column-item {
    width: 100%;
    float: left;
  }
  .status {
    top: 19px;
  }
}
