.autocomplete-search {
  font-size: 0 !important;
  display: flex;
  .el-select {
    flex: 1;
  }
  .search-icon {
    cursor: pointer;
    vertical-align: middle;
  }

  .autocomplete-search-select {
    font-size: 18px;
    transition: width 0.2s;
    width: 0;
    overflow: hidden;
    background: transparent;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;

    /deep/ .el-input__inner {
      padding-left: 0;
      padding-right: 0;
      box-shadow: none !important;
      vertical-align: middle;
      border: 1px solid #DEE3E9;	
      border-radius: 3px;	
      background-color: #FFFFFF;
    }
  }

  .content-search /deep/ .el-input__inner {
    height: 29px;
    border-radius: 3px;
    background-color: #FFFFFF;
    border: 1px solid #DEE3E9;
    &:focus {
      border-color: #409EFF;
    }
  }

  .search-buton {
    border-radius: 0;
    color: #fff;
    background-color: #888;
    &:hover {
      background-color: #409EFF;
    }
  }

  &.show {
    .autocomplete-search-select {
      width: 210px;
      margin-left: 10px;
    }
  }
  .input-sear-icon {
    position: relative;
    img {
      position: absolute;
      right: 5px;
      top: 3px;
      color: #BAC0C7;
      height: 24px;
      width: 24px;
    }
  }
}