.feed-setting {
    .view-text-description {
        margin-top: 10px;
        .text-description {
            white-space: pre-wrap;
        }
    }
    .table-data {
        margin-top: 20px
    }
}
