.container-cp {
    background: #eee;
    padding: 0px 36px;
   
}
.group-btn {
    width: 100%;
    text-align: center;
    button {
        padding: 10px 25px;
        border: none;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        margin: 5px 0;
    }
    .btn-save {
        background-color: #3cab94;
        margin: 0 0 0 20px;
    }
    .btn-back {
        background-color: #ced3d9;
        color: #4b5054;
    }
}

.create-creative-container {
    background-color: #d0dce0;
    padding: 20px;
    min-height: calc(100vh - 84px);
    .creative-type-list {
        display: flex;
    }
    .creative-type-detail {
        min-height: 40vh;
    }
    .action-area {
        margin-top: 20px;
    }
}
.header-match-creatives{
    background: #dfecf4;
    padding: 10px 20px;
    margin-bottom: 20px;
    .item{
        display: flex;
        flex-direction: row;
        margin:  10px 0;
        .title{
            min-width: 200px;
            margin: 0;
            padding: 0;
            font-weight: bold;
            font-size: 14px;
        }
        .label{
            color: #4c5154;
            font-size: 14px;
        }
    }
    .item-estimate{
        text-align: right;
        margin:  4px 0 10px 0;
        padding: 0;
        .title{
            margin: 0;
            padding: 0;
            font-weight: bold;
            font-size: 14px;
            padding-right: 10px;
        }
        .label{
            color: #4c5154;
            font-size: 14px;
            padding-right: 10px;
        }
        .total{
            color: #1c92cf;
            font-size: 20px;
            font-weight: bold;
        }
    }
}

@media(max-width: 768px) {
    .container-cp {
        padding: 0px 16px;
       
    }
  }