$height: 29px;

.state-summary {
  width: 100%;
  padding: 20px 20px 30px 20px;
  border: 1px solid #CED3D8;
  border-top: 0;
  @media (max-width: 767px) {
    padding: 10px;
  }

  .selectDate {
    text-align: right;
    margin-bottom: 20px;
    @media (max-width: 767px) {
      text-align: left;
      margin-bottom: 10px;
    }
    span {
      color: #323A46;
      font-size: 14px;
      line-height: 16px;	
    }
  }

  .el-table::before {
    height: 0;
  }

  .product-feed-data {
    border-bottom: 1px solid #E6E6E6;

    /deep/ .el-table__header-wrapper {
      border-right: 1px solid #E6E6E6;
      border-left: 1px solid #E6E6E6;
    }
    
    /deep/ .el-table__body-wrapper {
      border-right: 1px solid #E6E6E6;
      border-left: 1px solid #E6E6E6;
      /deep/ tr {
        td {
          color: #323A46;
          font-size: 14px;
          line-height: 16px;
        }
        td:first-child {
          font-weight: bold;
          padding-left: 20px;
          white-space: nowrap; 
          overflow: hidden;
          text-overflow: ellipsis; 
        }
      }
    }
    
    /deep/ th {
      border: none;
      height: 37px;
      padding-top: 0;
      padding-bottom: 0;
      background-color: #E8EBEE;
      border-bottom: 1px solid #E6E6E6;
      border-top: 1px solid #E6E6E6;
      .cell {
        color: #323A46;
        font-size: 14px;
        font-weight: bold;	
        line-height: 16px;
      }
    }
    
    /deep/ td {
      border: none;
      height: 40px;
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: 1px solid #E6E6E6;
    }
  
  }

  .graph-area {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 0px;
    @media (max-width: 767px) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .products-list {
    margin-bottom: 20px;
    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
    .search-options.el-row {
      margin-bottom: 20px;
      @media (max-width: 767px) {
        margin-bottom: 10px;
      }
      .products-list-text {
        max-width: 140px;
        @media (max-width: 767px) {
          margin-bottom: 10px;
        }
        span {
          text-align: left;
          color: #323A46;
          font-size: 14px;
          font-weight: bold;
          line-height: 16px;
        }
      }
      .group-radio-options {
        max-width: 280px;
        .el-radio-group {
          .el-radio.radio-btn-id , .graph-areael-radio.radio-btn-name {
            margin-left: 25px;
          }
          /deep/ .el-radio__label {
            color: #323A46;
            font-size: 14px;
          }
          .el-radio.is-checked {
            /deep/ .el-radio__input.is-checked {
              /deep/ .el-radio__inner {
                border-color: #1D93CF;
                background: #1D93CF;
              }
            }
            /deep/ .el-radio__input {
              /deep/ .el-radio__inner {
                border-color: #1D93CF;
              }
            }
          }
        }
      }
    }

    .search-items.el-row {
      justify-content: space-between;
      flex-wrap: wrap;
      .el-col.search-input {
        height: $height;
        max-width: 350px;
        position: relative;
        @media (max-width: 991px) {
          max-width: none;
        }

        .loading-popup {
          position: absolute;
          z-index: 2;
          border-radius: 3px;
          box-shadow: 1px 1px 4px 1px rgba(0,0,0,.4);
          box-sizing: border-box;
          margin-top: 15px;
          width: 400px;
          height: 250px;
        }

        .container-item {
          margin-top: 15px;
          max-width: 400px;
          max-height: 250px;
          overflow-y: scroll;
          position: absolute;
          border: 1px solid #e4e7ed;
          padding: 10px 20px 10px 20px;
          z-index: 1;
          border-radius: 3px;
          box-shadow: 1px 1px 4px 1px rgba(0,0,0,.4);
          box-sizing: border-box;
          background-color: #FFFFFF;
          .suggest-item {
            line-height: 26px;
            background-color: #FFFFFF;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
          }
        }

        .empty-container-item {
          text-align: center;
          margin-top: 15px;
          width: 350px;
          height: 100px;
          position: absolute;
          border: 1px solid #e4e7ed;
          padding: 10px;
          z-index: 1;
          border-radius: 3px;
          box-shadow: 1px 1px 4px 1px rgba(0,0,0,.4);
          box-sizing: border-box;
          color: #909399;
          background-color: #FFFFFF;
          span {
            font-size: 14px;
            vertical-align: middle;
            top: 50%;
            line-height: 80px;
          }
        }

        .search-box {
          /deep/ input {
            padding-left: 10px;
            padding-right: 10px;
            height: $height;
            border-radius: 3px;
            border: 1px solid #DEE3E9;
            border-right: 0;
            padding-left: 10px;
            padding-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            background-color: #FFFFFF;
          }
        }
        /deep/ .el-input-group__append {
          height: $height;
          border: 1px solid #DEE3E9;
          border-left: none;
          border-radius: 3px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          padding: 0;
          background-color: #FFFFFF;
          line-height: 27px;
          img {
            padding-left: 10px;
            padding-right: 10px;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
          }
        }
      }

      .el-col.select-row {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        .select-title {
          height: $height;
          text-align: right;
          span {
            padding-right: 10px;
            min-width: 233px;
            color: #323a46;
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
            line-height: 30px;
          }
          @media (max-width: 991px) {
            text-align: left;
            height: 36px;
            span {
              padding-right: 0;
              line-height: 38px;
            }
          }
        }
        .select-item {
          max-width: 200px;
          @media (max-width: 991px) {
            max-width: none;
          }
          .el-select.select-row-limit {
            width: 100%;
            border-radius: 3px;
            background-color: #FFFFFF;
            /deep/ input {
              border: 1px solid #DEE3E9;
              height: $height;
              padding-left: 10px;
              padding-right: 0;
            }
            /deep/ i {
              line-height: 21px;
            }
          }
        }
      }
    }
  }

  .product-list-data {

    .pan-thumb {
      z-index: 100;
      height: 40px !important;
      width: 40px !important;
      border-radius: 5px;
      left: 0px;
      vertical-align: middle;
      border: 0;
      background-color: #fff;
      margin: auto;
      box-shadow: none !important;
      /deep/ .pan-info {
        box-shadow: none !important;
      }
    }

    /deep/ .el-table__header-wrapper {
      border-right: 1px solid #E6E6E6;
      border-left: 1px solid #E6E6E6;
    }
    
    /deep/ .el-table__body-wrapper {
      border-right: 1px solid #E6E6E6;
      border-left: 1px solid #E6E6E6;
      /deep/ tr {
        td {
          color: #323A46;
          font-size: 14px;
          line-height: 16px;
          .cell {
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
            padding-left: 0px;
            padding-right: 0px;
          }
        }
      }
    }
    
    /deep/ th {
      border: none;
      height: 37px;
      padding-top: 0;
      padding-bottom: 0;
      background-color: #E8EBEE;
      border-bottom: 1px solid #E6E6E6;
      border-top: 1px solid #E6E6E6;
      .cell {
        color: #323A46;
        font-size: 14px;
        font-weight: bold;	
        line-height: 16px;
      }
    }
    
    /deep/ td {
      border: none;
      height: 50px;
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: 1px solid #E6E6E6;
    }

  }
  
  .pagination-container {
    /deep/ button.btn-prev , /deep/ button.btn-next {
      font-size: 14px;	
      line-height: 16px;
      height: 36px;
      width: 75px;
      border: 1px solid #E5E9EC;	
      margin: 0;
      color: #323A46;
      background-color: #FFFFFF;
      border-radius: 0;
    }

    /deep/ button.btn-next {
      border-left: 0;
    }

    /deep/ button.btn-prev:disabled , /deep/ button.btn-next:disabled {
      color: #C0C4CC;
    }

    /deep/ ul.el-pager {
      li {
      color: #323A46;	
      font-size: 14px;	
      height: 36px;
      width: 34px;
      border: 1px solid #E5E9EC;	
      background-color: #FFFFFF;
      margin: 0;
      padding-top: 3px;
      font-weight: normal;
      border-left: 0;
      border-radius: 0;
      }

      li:not(.disabled).active {
        background-color: #E8F4FA;
        color: #1D93CF;
      }

      li.el-icon.btn-quickprev.el-icon-more, li.el-icon.btn-quicknext.el-icon-more {
        display: none;
      }
    }
  }
}
