@import '@/styles/variables.scss';

.content-hide {
  height: 0;
  .BNA-content,
  .el-row,
  .el-col {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s ease;
  }
  .el-row,
  .el-col {
    height: auto;
    line-height: 36px;
  }
  &.show {
    height: calc(#{$height-row}*5);
    .BNA-content,
    .el-col,
    .el-row {
      visibility: visible;
      opacity: 1;
    }
  }
}