@import '@/styles/variables.scss';

.title {
  margin: 0;
  color: #606266;
}

.create-clients {
  .email-for-invite.el-form-item {
    margin-bottom: 0;
  }
}

.item-info{
  font-size: 14px;
  color: #606266;
  .label{
    font-weight: bold;
    margin-right: 10px;
  }
}
.text-right{
  text-align: right
}
.assign-user-role {
  overflow-x: scroll;
  border: 1px solid #ebeef5;
  .el-row {
    min-width: 900px;
    border-bottom: 1px solid #ebeef5;
    height: 68px;
    &.assign-user-role-head {
      background-color: #E5E9EC;
      font-weight: bold;
      height: 40px;
      .el-col {
        color: #000;
      }
    }
    &.assign-te {
      padding-top: 16px;
    }
    &.assign-agency {
      padding-top: 16px;
      /deep/ .el-date-editor {
        width: 180px;
      }
    }
    .el-col {
      text-align: center;
      padding: 5px 0;
      color: #606266;
      height: 100%;
      &.group {
        width: 150px;
      }
      &.existing-contact {
        width: 200px;
      }
      &.charge-start-date {
        width: 150px;
      }
      &.change-agent {
        width: 300px;
      }
      &.process {
        width: 90px;
        padding-left: 10px;
      }
    }
  }
}

.access-container{
  border: 1px solid #E5E9EC;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px;
  .heading{
    margin-top: 0;
    color: #1D93CF;
    font-weight: bold;
  }
  td{
    font-size: 14px;
  }
  .svg-icon {
    height: 13px;
  }
  .icon-show-hide{
    color: #ccc;
    &:hover{
      color: #1D93CF;
    }
  }
  .icon-delete{
    color: #ccc;
    &:hover{
      color: red;
    }
  }
  .email-action{
    text-align: right;
    color: #ccc;
    font-weight: bold;
    min-width: 50px;
    .el-button{
      border: none;
      padding: 0;
      margin: 0;
    }
  }
}

.contact-person {
  margin-top: 15px; 
  /deep/ th {
    background: #E5E9EC;
    color: #000;
  }
  /deep/ th, /deep/ td {
    padding: 5px 0;
    border-left: 0;
    border-right: 0;
    text-align: center;
  }
}
.send-invite {
  padding: 10px 20px !important;
  height: 36px !important;
}
.el-button.custom{
  height: 29px;
  padding: 0;
}
.el-button.custom.is-disabled{
  background-color: #c0c4cc;
  border-color: #c0c4cc;
}
.col-agent{
  .el-select, .el-date-editor  {
    flex: 1;
    /deep/ .el-input__inner {
      border: none;
      border-radius: 0;
    }
    /deep/ .el-input__suffix i, /deep/ .el-input__icon, /deep/ .el-input__inner::placeholder{
      color: black;
    }  
  }
  .el-select{
    max-width: 120px;
  }
  .el-date-editor  {
    /deep/ .el-input__inner {
      border-bottom: 1px solid #eee;
    } 
  }
}

@media(max-width: 760px) {
  .item-form-invite{
    /deep/ .el-form-item__label{
      width: 100% !important;
    }
    /deep/ .el-form-item__content{
      margin-left: 0px !important;
    }
  }
}
.text-center{
  text-align: center;
}
.mg-left-0{
  margin-left: 0px !important;
  /deep/ .el-form-item__content{
    margin-left: 0px !important;
  }
}