.change-lang {
  cursor: pointer;
  right: 20px;
  position: absolute;
  margin-top: 20px;
  margin-right: 20px;
  .svg-icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
  .label-lang>div {
    display: flex;
    span,
    i {
      line-height: 21px;
    }
  }
}
img {
  display: none;
}

.text-title {
  text-align: left;

  .title {
    color: #FFFFFF;
    font-weight: bold;
    line-height: 47px;
    margin-left: 20px;
    margin-right: 20px;	
  }
  
  .description {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
  }
}

.desktop, .mobile {
  .auth-right-block {
    height: 100vh;
    overflow: inherit;
    table {
      height: 100vh;
      td {
        vertical-align: middle;
      }
    }
  
    .auth-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      overflow: auto;
    }
  }
}

.mobile {
  .auth-left-block {
    height: initial;

    img {
      float: left;
      display: block;
    }
    table {
      width: 100%;
    }

    .title {
      display: none;
    }
    .description {
      display: none;
    }
  }
  .auth-right-block {
    height: initial;
    position: relative;

    .auth-content {
      overflow: inherit;
    }

    /deep/ .horizontal-2 {
      display: none;
    }

    /deep/ .el-input__inner {
      height: 29px;
      line-height: 29px;
    }

    /deep/ .el-button.bg-btn.upload-btn-size {
      width: 100%;
      padding-top: 3px;
      padding-bottom: 3px;
    }

    /deep/ .upload-file-box.el-col {
      height: 29px;
      display: table;
      margin-top: 4px;

      .px-2.w-100.upload-file-name {
        line-height: 18px;
        text-align: left;
        position: relative;
        display: table-cell;
        vertical-align: middle;
        word-break: break-word;
      }
    }

    /deep/ .el-button.bg-btn.certification {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
  .change-lang {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 10;
    margin-top: 20px;
    margin-right: 0px;

    .label-lang {
      background-color: white;
      padding: 0px 5px;
      border-radius: 3px;
      svg {
        width: 2em;
        height: 2em;
      }
      i {
        padding-left: 5px;
        line-height: 2em;
        font-weight: bold;
      }
      span {
        display: none;
      }
    }
  }
}

@media (max-width: 1920px) {
  .text-title {  
    .title {
      font-size: 40px;
    }
  }
  .description {
    margin: 24px 20px auto 20px;
  }
}

@media (max-width: 1280px) {
  .text-title {  
    .title {
      font-size: 33px;
    }
  }
  .description {
    margin: 14px 20px auto 20px;
  }
}

@media (max-width: 992px) {
  .text-title {  
    .title {
      font-size: 24px;
    }
  }
  .description {
    margin: 8px 20px auto 20px;
  }
}

@media (max-width: 768px) {
  .text-title {  
    .title {
      font-size: 22px;
    }
  }
  .description {
    margin: 6px 20px auto 20px;
  }
}




