.custom-tag {
  .custom-tag-form, .custom-tag-table {
    background-color: #fff;
    padding: 20px 20px 10px;
  }
  .custom-tag-form {
    background-color: #FFFFFF;
    /deep/.el-form-item__label {
      text-align: left;
    }
    .custom-tag-name {
      /deep/.el-input__inner {
        color: #40C76F;
      }
    }
    .custom-value-name {
      /deep/.el-input__inner {
        color: #1D93CF;
      }
    }
    .conversion-container {
      padding: 10px 10px 0 10px;
      margin-left: 170px;
      border: 1px solid #E5E9EC;
      border-radius: 3px;
      background-color: #FFFFFF;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
      /deep/.el-form-item__content {
        margin-left: 0 !important;
      }
    }
    /deep/.el-form-item {
      margin-bottom: 10px;
    }
    .actions-container {
      button {
        margin-top: 20px;
      }
      /deep/.el-form-item__content {
        text-align: center;
        margin-top: 10px;
      }
      .cancel-btn {
        background-color: #CED3D9;
      }
    }
    .form-rule-default {
      margin-bottom: 10px;
    }
    .category-select-box {
      width: 100%;
    }
    .generate-btn-wrapper {
      text-align: center;
      margin-top: 20px;
      .generate-btn {
        background-color: #1D93CF;
      }
    }
    .generate-tracking-tag-result {
      padding: 10px;
      border: 1px solid #E5E9EC;
      border-radius: 3px;
      background-color: #FFFFFF;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
      /deep/.el-tabs__nav-scroll {
        margin-bottom: 10px;
        /deep/.el-tabs__item {
          border: none !important;
          border-top: none !important;
          border-left: none !important;
          border-right: none !important;
          background: #fff !important;
        }
      }
      .xml-information-container {
        padding: 10px;
        line-height: 21px;
        border: 1px solid #E5E9EC;
        background-color: #F8F9FC;
        .information-content {
          padding-left: 50px;
          .ty-value {
            color: #1D93CF;
          }
          .information-content-items {
            padding-left: 30px;
            .i-value, .t-value {
              color: #40C76F;
            }
            .p-value {
              color: #FF0000;
            }
          }
        }
      }
    }
    .destination-container {
      /deep/.el-form-item__content {
        display: flex;
        flex-direction: column;
        .el-form-item__error {
          position: unset;
        }
      }
    }
    .custom-value-name-container {
      /deep/.el-form-item__content {
        display: flex;
      }
    }
    .check-exist-button {
      background-color: #3CAB94;
      color: #fff;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      &.invalid {
        background-color: #FF0000
      }
      &.un-check {
        background-color: #409EFF;
      }
    }
  }
  .custom-tag-table {
    border-top: 1px solid #E5E9EC;
    background-color: #FFFFFF;
    margin-left: 0 !important;
    margin-right: 0 !important;
    position: relative;
    .status-action {
      width: 100px;
    }
    .isUsed {
      background-color: #409EFF;
      color: #fff;
    }
    .status-area {
      position: relative;
      width: 100%;
      text-align: center;
      padding: 2px 0 13px 0;
      span.status {
        padding: 6px;
        position: absolute;
        background-color: red;
        border-radius: 50%;
        &.unused {
          background-color: green;
        }
      }
    }
    /deep/ .el-table .cell {
      line-height: 16px;
      color: #323A46;
      font-size: 14px;
    }
    /deep/ td {
      border: none;
    }
    .note-message {
      padding: 16px 22px 20px;
      color: #4B5054;
      font-size: 14px;
      line-height: 21px;
    }
    /deep/th {
      background-color: #E8EBEE;
      color: #323A46;
    }
  }
  a:hover {
    color: #409EFF;
  }
  .conversion-value {
    display: flex;
    width: 160.18px;
    border: 1px solid #DEE3E9;
    border-radius: 3px;
    background-color: #FFFFFF;
    .conversion-value-input {
      /deep/.el-input__inner {
        color: #FF0000;
        border-top: none;
        border-right: 1px solid #dcdfe6;
        border-bottom: none;
        border-left: none;
      }
    }
    .conversion-value-currency {
      color: #323A46;
      font-size: 14px;
      padding: 0 10px;
    }
    .disabled-view {
      background-color: #f5f7fa;
    }
  }
  .el-icon-loading {
    margin-left: 5px;
  }
}
/deep/ .el-form-item__label {
  position: relative;
  white-space: nowrap;
  &::before {
    display: none;
  }
  &::after {
    content: '*';
    color: #f56c6c;
    margin-left: 3px;
  }
}
.loading-layer {
  top: 80px;
}

@media(max-width: 767px) {
  .custom-tag-form {
    padding: 0 !important;
    .conversion-container {
      margin-left: 0 !important;
    }
    /deep/.el-form-item__label {
      width: 100% !important;
    }
    /deep/.el-form-item__content {
      margin-left: 0 !important;
      /deep/.el-input-group__prepend {
        padding: 0 10px !important;
      }
    }
  }
  .loading-layer {
    top: 130px;
  }
}
