.currency-input-container {
  .currency-input-area {
    display: flex;
  }
  /deep/ input {
    float: left;
    text-align: right;
    max-width: 150px;
    min-width: 70px;
    border-radius: 0;
    height: 36px;
    padding: 2px 10px;
    &.custom-border {
      border: 1px solid #dcdfe6;
    }
    &[disabled="disabled"] {
      background-color: #f5f7fa;      
    }
  }
  .currency-text {
    float: left;
    line-height: 36px;
  }
  button {
    float: left;
    height: 36px;
    background-color: #1D93CF;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 10px;
    white-space: nowrap;
    margin: 0 0.5px;
  }
  button.edit-button {
    padding: 3px 8px;
    margin-left: 10px;
    border: 1px solid #DEE3E9;
    background-color: #F9FAFD;
    &:hover {
      background-color: #ecf5ff;
    }
  }
  button.sub-button {
    padding: 10px 13px;
  }
  .confirm-change-btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.currency-append-label {
  padding: 9px 15px;
  background-color: #f5f7fa;
  color: #909399;
  border: 1px solid #dcdfe6;
  border-left: none;
  line-height: 34px;
}