$background-color: #FFFFFF;
$border: 1px solid #E5E9EC;

.user-interest {
    padding: 0 36px;
    .graph-filter.el-row {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .graph {
        margin-bottom: 20px;
    }
    .statistics {
        padding: 20px;
        border: $border;
        background-color: $background-color;
    }
}

@media (max-width: 767px) {
    .user-interest {
        padding: 0 20px;
        .graph-filter.el-row {
            margin-top: 0;
            margin-bottom: 10px;
        }
        .graph {
            margin-bottom: 10px;
        }
        .statistics {
            padding: 10px 10px 20px 10px;
        }
    }
}