.service-manage {
  .service-list {
    margin: 0 36px;
    padding: 20px 20px;
    background-color: #ffffff;
    border: 1px solid #e5e9ec;

    .el-collapse {
      border-bottom-width: 0px;
      border-top-width: 0px;
      /deep/ .el-collapse-item__content {
        padding-bottom: 0;
      }
    }

    /deep/ .el-collapse-item__arrow.el-icon-arrow-right {
      font-size: 18px;
      color: #323A46;
    }

    /deep/ .el-collapse-item__arrow.el-icon-arrow-right.is-active {
      color: #1d93cf;
    }

    /deep/ .el-collapse-item__header {
        border-bottom-width: 0px;
        height: 52px;
        background-color: #FFFFFF;
      }

    /deep/ .el-collapse-item__header.is-active {
      background-color: #F3F5F7;
    }

    /deep/ .el-collapse-item__wrap {
      border-bottom-width: 0px;
      padding: 20px 20px 0 20px;
    }

    .el-collapse-item.support-menu {
      margin-bottom: 20px;
      border: 1px solid #DEE3E9;	
      background-color: #FFFFFF;	
      /deep/ .items-row.el-row:last-child {
        margin-bottom: 0;
      }
    }

    .el-collapse-item.support-goal-targeting-type {
      margin-bottom: 20px;
      border: 1px solid #DEE3E9;	
      background-color: #FFFFFF;	
      /deep/ .el-checkbox-group:last-child {
        .items-row.el-row:last-child {
          margin-bottom: 0;
        }
      }
    }

    .el-collapse-item.support-option {
      margin-bottom: 20px;
      border: 1px solid #DEE3E9;	
      background-color: #FFFFFF;	
      /deep/ .el-checkbox-group:last-child {
        .items-row.el-row:last-child {
          margin-bottom: 0;
        }
      }
    }

    .el-collapse-item.performance-support-index {
      border: 1px solid #DEE3E9;	
      background-color: #FFFFFF;	
      /deep/ .el-checkbox-group:last-child {
        .items-row.el-row:last-child {
          margin-bottom: 0;
        }
      }
    }

    .support-menu.is-active {
      border: 1px solid #DEE3E9;	
      background-color: #FFFFFF;	
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
      padding: 0 0 20px 0;
      margin-bottom: 20px;
    }

    
    
    .support-goal-targeting-type.is-active {
      border: 1px solid #DEE3E9;	
      background-color: #FFFFFF;	
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
      padding: 0 0 20px 0;
      margin-bottom: 20px;
    }
    
    .support-option.is-active {
      border: 1px solid #DEE3E9;	
      background-color: #FFFFFF;	
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
      padding: 0 0 20px 0;
      margin-bottom: 20px;
    }
    
    .performance-support-index.is-active {
      border: 1px solid #DEE3E9;	
      background-color: #FFFFFF;	
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
      padding: 0 0 20px 0;
    }

    .text-title {
      font-size: 14px;
      line-height: 16px;
      color: #323A46;
      width: 100%;
      margin-left: 20px;
    }

    /deep/ .el-checkbox__input.is-checked {
      .el-checkbox__inner {
        background-color: #1d93cf;
        border-color: #1d93cf;
      }
    }

    /deep/ .el-checkbox.is-checked {
      .el-checkbox__label {
        color: #323a46;
      }
    }

    /deep/ .el-checkbox.is-disabled {
      .el-checkbox__label {
        color: #979fa7;
      }
    }

    /deep/ .el-checkbox.is-disabled.is-checked {
      .el-checkbox__inner {
        opacity: 0.5;
      }
    }

    .items-row {
      margin-bottom: 20px;

      .align-bottom {
        margin-bottom: 0px;
      }
    }
  }

  /deep/ .el-collapse-item__arrow {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);

    &.is-active {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }

  .buttons {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

    /deep/ span {
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
    }

    .el-button.save-btn {
      background-color: #3cab94;
      color: #ffffff;
      padding: 10px auto;
      border-radius: 0;
      width: 97px;
      border-color: #3cab94;
    }
    .el-button.reset-btn {
      margin-left: 20px;
      background-color: #ced3d9;
      color: #4b5054;
      padding: 10px auto;
      border-radius: 0;
      width: 97px;
      border-color: #ced3d9;
    }
  }
}

@media (max-width: 1919px) {
  .service-manage {
    .service-list {
      .items-row {
        margin-bottom: 0px;
  
        .align-bottom {
          margin-bottom: 20px;
        }
      }

      .el-collapse-item.support-menu.is-active {
        /deep/ .el-checkbox-group {
          .items-row.el-row:last-child {
            /deep/ label {
              margin-bottom: 0;
            }
          }
        }
      }
  
      .el-collapse-item.support-goal-targeting-type.is-active {
        /deep/ .el-checkbox-group:last-child {
          .items-row.el-row:last-child {
            .row-col.el-col:last-child {
              label {
                margin-bottom: 0;
              }
            }
            .row-col.el-col:nth-last-child(2) {
              label {
                margin-bottom: 0;
              }
            }
          }
        }
      }
  
      .el-collapse-item.support-option.is-active {
        /deep/ .el-checkbox-group {
          .items-row.el-row:last-child {
            .row-col.el-col:last-child {
              label {
                margin-bottom: 0;
              }
            }
          }
        }
      }
  
      .el-collapse-item.performance-support-index.is-active {
        /deep/ .el-checkbox-group {
          .items-row.el-row:last-child {
            .row-col.el-col:last-child {
              label {
                margin-bottom: 0;
              }
            }
            .row-col.el-col:nth-last-child(2) {
              label {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .service-manage {
    .service-list {
      .items-row {
        margin-bottom: 0px;
  
        .align-bottom {
          margin-bottom: 20px;
        }
      }
  
      .el-collapse-item.support-goal-targeting-type.is-active {
        /deep/ .el-checkbox-group:last-child {
          .items-row.el-row:last-child {
            .row-col.el-col:last-child {
              label {
                margin-bottom: 0;
              }
            }
            .row-col.el-col:nth-last-child(2) {
              label {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
  
      .el-collapse-item.support-option.is-active {
        /deep/ .el-checkbox-group {
          .items-row.el-row:last-child {
            .row-col.el-col:last-child {
              label {
                margin-bottom: 0;
              }
            }
            .row-col.el-col:nth-last-child(2) {
              label {
                margin-bottom: 0;
              }
            }
          }
        }
      }
  
    }
  }
}

@media (max-width: 767px) {
  .service-manage {
    .service-list {
      margin: 0 20px;

      .text-title {
        margin-left: 10px;
      }

      /deep/ .el-collapse-item__wrap {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
      }

      .items-row {
        margin-bottom: 0px;
  
        .align-bottom {
          margin-bottom: 20px;
        }
      }

      .el-collapse-item.support-option.is-active {
        /deep/ .el-checkbox-group {
          .items-row.el-row:last-child {
            .row-col.el-col:last-child {
              label {
                margin-bottom: 0;
              }
            }
            .row-col.el-col:nth-last-child(2) {
              label {
                margin-bottom: 20px;
              }
            }
          }
        }
      }

      .el-collapse-item.performance-support-index.is-active {
        /deep/ .el-checkbox-group {
          .items-row.el-row:last-child {
            .row-col.el-col:last-child {
              label {
                margin-bottom: 0;
              }
            }
            .row-col.el-col:nth-last-child(2) {
              label {
                margin-bottom: 20px;
              }
            }
          }
        }
      }

    }
  }
}