.ci-browse {
  padding: 10px;
  border: 1px solid #E5E9EC;
  background-color: #FFFFFF;

  .upload-area-content {
    width: 100%;
    text-align: center;
    .upload-file {
      display: none;
    }
    /deep/ .el-button {
      padding: 5px 5px;
      height: 29px;
      width: 64px;
      border: 1px solid #DEE3E9;
      border-radius: 3px;
    }
  }
}