@import "@/styles/variables.scss";
.users-edit-role {
  .container {
    background-color: white;
    margin: 0px !important;
    .left-item {
      padding-left: 0px !important;
      padding-right: 5px !important;
    }
    .right-item {
      padding-left: 5px !important;
      padding-right: 0px !important;
    }
    .invite{
      background-color: #FFFFFF;
      border: 1px solid #E5E9EC;
      padding: 20px 20px 0px 20px;
      /deep/ .el-input__suffix {
        border-left: 1px solid #DEE3E9;
        padding-left: 5px
      }
      /deep/ .el-input__inner {
        height: 34px;
      }
    }
    .list-user {
      margin-top: 0px;
    }
    .mr-l-20 {
      margin-left: 20px;
    }
    .label-title {
      font-weight: bold;
      font-size: 14px;
    }
    .item.email {
      margin-bottom: 20px;
      color: #323A46;
      font-size: 14px;
      line-height: 16px;
    }
    .item.account {
      .account-label {
        height: 29px;
        .label-title {
          display: inline-block;
          vertical-align: middle;
          line-height: 30px;
        }
      }
      .right-select {
        .el-select {
          height: 29px;
          /deep/ input {
            height: 29px;
            padding-left: 10px;
            border: 1px solid #DEE3E9;
            border-radius: 3px;
            color: #323A46;
          }
          /deep/ .el-select__caret.el-input__icon {
            line-height: 29px;
          }
        }
      }
    }
    .button-footer{
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px
    }
    .mr-top-10{
      margin-top: 10px;
      /deep/ .el-radio__label {
        color: #323A46;
        font-size: 14px;
        line-height: 16px;
      }
      .el-radio.h-pd-t-5.is-checked {
        /deep/ .el-radio__inner {
          border-color: #1D93CF;
          background: #1D93CF;
        }
      }

      .el-radio.h-pd-t-5 {
        /deep/ .el-radio__inner {
          border-color: #1D93CF;
        }
      }
    }
    .btn-send{
      color: #FFFFFF;
      border-radius: 0px;
      height: 35px;	
      min-width: 97px;
      background-color: #3CAB94;
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
      padding: 0px;
      margin-right: 10px;
      border: 1px solid #fff;
      &:hover {
        border-color: #3CAB94;
      }
    }
    .btn-cancel {
      margin-left: 0px;
      border-radius: 0px;
      height: 35px;
      min-width: 97px;
      background-color: #CED3D9;
      color: #4B5054;
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
      padding: 0;
      border: 1px solid #fff;
      &:hover {
        border-color: #CED3D9;
      }
    }
    .only-selected{
      margin-top: 10px;
      border: 1px solid #E5E9EC;
      border-radius: 3px;
      background-color: #FFFFFF;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
      .el-table {
        /deep/ .el-table__header-wrapper {
          /deep/ th {
            padding-bottom: 3px;
            padding-top: 10px;
            height: 25px;
            border-bottom: none;
            /deep/ .el-checkbox__inner {
              background-color: #1D93CF;
              border-color: #1D93CF;
            }
          }
        }
        /deep/ .el-table__body-wrapper {
          padding-bottom: 10px;
          /deep/ tr {
            /deep/ td {
              padding: 0;
              height: 22px;
              border-bottom: none;
              /deep/ .el-checkbox.is-checked {
                /deep/ .el-checkbox__inner {
                  background-color: #1D93CF;
                  border-color: #1D93CF;
                }
              }
              /deep/ .el-checkbox {
                /deep/ .el-checkbox__inner {
                  border-color: #1D93CF;
                }
              }
              /deep/ .el-checkbox.is-disabled.is-checked {
                /deep/ .el-checkbox__inner {
                background-color: #f2f6fc;
                border-color: #dcdfe6;
                }
              }
            }
          }
        }
      }
    }
  }
  .el-icon-loading {
    margin-left: 5px;
    font-size: 14px;
    line-height: 16px;
  }
}
.select-role-item {
  width: calc(100% - 10px);
  overflow: hidden;
  text-overflow: ellipsis;
}
.role-item-suffix {
  margin: 0;
  color: #323A46;
  &:last-child {
    color: #FF0000;
  }
}
.el-table, /deep/ .el-table thead {
  color: #323A46;
}
@media(max-width: 768px) {
  .users-edit-role {
    padding: 0;
    .container {
      padding: 0;
      .invite{
        margin-bottom: 10px;
        background-color: white;
        border: 0px solid #E5E9EC;
        padding: 0 10px 0 10px;
        /deep/ .el-input__suffix {
          border-left: 1px solid #DEE3E9;
          padding-left: 5px
        }
        /deep/ .el-input__inner {
          height: 34px;
        }
      }
      .item{
        margin-bottom: 5px;
        line-height: 30px;
      }
    }
  }
}
    